# Experiencing anomalies of un-normalized database

### For each cell, please writing down your SQL statements as requested.

### Creating an Employees table that has the same schema as Slide #2 of Lecture Slides-1. 

(S:SSN, N: Name, L: Lot number, R: Rating, W: Wage, H: Hourly_worked); Primary key is SSN.

In [ ]:
# List your SQL statement for table creation here

### Insert 20 tuples that have even distributions of ratings from 1 to 5.

The only company policy provided by your client is "employees have the same rating should have the same wage."

Show all tuples and sort them based on rating in ascending order.

In [ ]:
# List your SQL statements for INSERT and list all tuples

### Copy this Employees Table to Keep_Employees Table .

Hint: Using CREATE TABLE new_table AS SELECT * FROM original_table;

In [ ]:
# SQL Statement

### Task 1: Use UPDATE statement on the original table (Employees) to give a raise to an employee to a new and extremely high wage. Assuming this wage is much higher than the max wage you have in the database.

* List the tuples again based on ratings (ascending order) and comment on whether or not the company policy has been preserved. What could be UPDATE anomalies you experience here.

In [ ]:
# SQL statement

In [ ]:
# Add your comments

### Task 2: Use INSERT statement on the original table (Employees) for two new employees. One follows the company policy to assign known wage and rating pair. The other is assigned a rating "5" but with a NULL value for the wage - the hiring manager has not decided the wage yet.  

* List the tuples again based on ratings (ascending order) and comment on whether or not the company policy has been preserved. What could be INSERT anomalies you experience here.

In [ ]:
# SQL statement

In [ ]:
# Add your comments

### Task 3: Use DELETE statement on the original table (Employees) for all employees from the lowest rating due to performance issues.   

* List the tuples again based on ratings (ascending order) and comment on whether or not the company policy has been preserved. What could be DELETE anomalies you experience here.

### Use INSERT statement on the original table (Employees) to add a new employee who will take the lowest rating (you just deleted) with the wage associating with that rating.

* Without looking at the Keep_Employees table, do you still remember the original wage for the lowest rating from the initial table?

In [ ]:
# SQL statement

In [ ]:
# Add your comments

### Now you have experienced the anomalies due to redundancy and functional dependency (Rating -> Wage)



## Solutions via table decomposition

### Let's decompose the Keep_Employees table into two - which two?

* CREATE these two tables and make sure primary keys are properly assigned to each table. There will be one foreign key constraint. Of course we need to populate tuples to these two tables using SQL statements (no manual way, please.)

* List the tuples from both tables based on ratings (ascending order) and comment on the numbers of tuples of these two tables.

In [ ]:
# SQL statement

In [ ]:
# Add your comments


### Tasks 4-6 will use these two new tables.

### Task 4: Use UPDATE statement to give a raise to an employee to a new and extremely high wage. Assuming this wage is much higher than the max wage you have in the database.

* Is it possible? Comment on why this new setting can prevent UPDATE anomalies.

In [ ]:
# SQL statement

In [ ]:
# Add your comments

### Task 5: Use INSERT statement for two new employees. One follows the company policy to assign known wage and rating pair. The other is assigned a rating "5" but with a NULL value for the wage - the hiring manager has not decided the wage yet.  

* Is it possible? Comment on why this new setting can prevent INSERT anomalies.

In [ ]:
# SQL statement

In [ ]:
# Add your comments

### Task 6: Use DELETE statement for all employees from the lowest rating due to performance issues.   

* List the tuples again based on ratings (ascending order) and comment on whether or not the company policy has been preserved. What could be DELETE anomaly you experience here.

### Use INSERT statement to add a new employee who will take the lowest rating with the wage associating with that rating.

* Is it possible? Comment on why this new setting can prevent DELETE anomalies.

In [ ]:
# SQL statement

In [ ]:
# Add your comments

# Save your notebook, then `File > Close and Halt`