# Database / SQL Final Project

This project will involve three related CSV files.
  * [play_list_music.csv](./play_list_music.csv)
  * [play_list_track_customers.csv](./play_list_track_customers.csv)
  * [play_list_track_buy.csv](./play_list_track_buy.csv)


Your task for this project is to build a SQLite database from these files, then perform some analytics.
This project should be broken down into the following tasks:
  1. Download and inspect the files.
  1. Design a database that is **properly normalized**.
  1. Implement your database design.
  1. Load data from files into database.
  1. Write some basic queries.

All your code should be implemented in this notebook.
Below the notebook is partitioned into markdown and code execution cells.

In the cells below, connect to your database.
Remember to update the SSO to your pawprint.

In [1]:
import getpass
# This collects a masked password from the user
mypasswd = getpass.getpass()

········

In [2]:
import psycopg2
from psycopg2.extensions import adapt, register_adapter, AsIs
connection = psycopg2.connect(database = 'dsa_student', 
                              user = 'may96c', 
                              host = 'pgsql.dsa.lan',
                              password = mypasswd)

cursor = connection.cursor()

In [3]:
import pandas as pd 
import numpy as np

In [51]:
play_list_music = pd.read_csv('play_list_music.csv')
play_list_music.head(n=10)
play_list_music['genre'].unique()
play_list_music['genre_id'] = pd.factorize(play_list_music['genre'])[0]

play_list_music['media_type_id'] = pd.factorize(play_list_music['media_type'])[0]

print(play_list_music['media_type'].unique())
print(play_list_music['media_type_id'].unique())

play_list_music = play_list_music.rename(columns={'id':'track_id'})


play_list_music['album_id'] = pd.factorize(play_list_music['album'])[0]


play_list_music['artist_id'] = pd.factorize(play_list_music['artist'])[0]

play_list_music['playlist_id'] = pd.factorize(play_list_music['playlist'])[0]

play_list_music.head(30)

['MPEG audio file' 'Protected AAC audio file'
 'Protected MPEG-4 video file' 'Purchased AAC audio file' 'AAC audio file']
[0 1 2 3 4]

,track_id,artist,album,song,playlist,media_type,genre,Bytes,genre_id,media_type_id,album_id,artist_id,playlist_id
0,1,AC/DC,For Those About To Rock We Salute You,For Those About To Rock (We Salute You),Music,MPEG audio file,Rock,11170334,0,0,0,0,0
1,1,AC/DC,For Those About To Rock We Salute You,For Those About To Rock (We Salute You),Heavy Metal Classic,MPEG audio file,Rock,11170334,0,0,0,0,1
2,6,AC/DC,For Those About To Rock We Salute You,Put The Finger On You,Music,MPEG audio file,Rock,6713451,0,0,0,0,0
3,7,AC/DC,For Those About To Rock We Salute You,Let's Get It Up,Music,MPEG audio file,Rock,7636561,0,0,0,0,0
4,8,AC/DC,For Those About To Rock We Salute You,Inject The Venom,Music,MPEG audio file,Rock,6852860,0,0,0,0,0
5,9,AC/DC,For Those About To Rock We Salute You,Snowballed,Music,MPEG audio file,Rock,6599424,0,0,0,0,0
6,10,AC/DC,For Those About To Rock We Salute You,Evil Walks,Music,MPEG audio file,Rock,8611245,0,0,0,0,0
7,11,AC/DC,For Those About To Rock We Salute You,C.O.D.,Music,MPEG audio file,Rock,6566314,0,0,0,0,0
8,12,AC/DC,For Those About To Rock We Salute You,Breaking The Rules,Music,MPEG audio file,Rock,8596840,0,0,0,0,0
9,13,AC/DC,For Those About To Rock We Salute You,Night Of The Long Knives,Music,MPEG audio file,Rock,6706347,0,0,0,0,0
10,14,AC/DC,For Those About To Rock We Salute You,Spellbound,Music,MPEG audio file,Rock,8817038,0,0,0,0,0
11,15,AC/DC,Let There Be Rock,Go Down,Music,MPEG audio file,Rock,10847611,0,0,1,0,0
12,16,AC/DC,Let There Be Rock,Dog Eat Dog,Music,MPEG audio file,Rock,7032162,0,0,1,0,0
13,17,AC/DC,Let There Be Rock,Let There Be Rock,Music,MPEG audio file,Rock,12021261,0,0,1,0,0
14,18,AC/DC,Let There Be Rock,Bad Boy Boogie,Music,MPEG audio file,Rock,8776140,0,0,1,0,0
15,19,AC/DC,Let There Be Rock,Problem Child,Music,MPEG audio file,Rock,10617116,0,0,1,0,0
16,20,AC/DC,Let There Be Rock,Overdose,Music,MPEG audio file,Rock,12066294,0,0,1,0,0
17,21,AC/DC,Let There Be Rock,Hell Ain't A Bad Place To Be,Music,MPEG audio file,Rock,8331286,0,0,1,0,0
18,22,AC/DC,Let There Be Rock,Whole Lotta Rosie,Music,MPEG audio file,Rock,10547154,0,0,1,0,0
19,23,Aerosmith,Big Ones,Walk On Water,Music,MPEG audio file,Rock,9719579,0,0,2,1,0
20,23,Aerosmith,Big Ones,Walk On Water,90’s Music,MPEG audio file,Rock,9719579,0,0,2,1,2
21,24,Aerosmith,Big Ones,Love In An Elevator,Music,MPEG audio file,Rock,10552051,0,0,2,1,0
22,24,Aerosmith,Big Ones,Love In An Elevator,90’s Music,MPEG audio file,Rock,10552051,0,0,2,1,2
23,25,Aerosmith,Big Ones,Rag Doll,Music,MPEG audio file,Rock,8675345,0,0,2,1,0
24,25,Aerosmith,Big Ones,Rag Doll,90’s Music,MPEG audio file,Rock,8675345,0,0,2,1,2
25,26,Aerosmith,Big Ones,What It Takes,Music,MPEG audio file,Rock,10144730,0,0,2,1,0
26,26,Aerosmith,Big Ones,What It Takes,90’s Music,MPEG audio file,Rock,10144730,0,0,2,1,2
27,27,Aerosmith,Big Ones,Dude (Looks Like A Lady),Music,MPEG audio file,Rock,8679940,0,0,2,1,0
28,27,Aerosmith,Big Ones,Dude (Looks Like A Lady),90’s Music,MPEG audio file,Rock,8679940,0,0,2,1,2
29,28,Aerosmith,Big Ones,Janie's Got A Gun,Music,MPEG audio file,Rock,10869391,0,0,2,1,0

In [97]:
genre1 = play_list_music[['genre_id','genre']]
genre = genre1.drop_duplicates()
genre

      genre_id               genre
0            0                Rock
100          1                Jazz
114          2               Metal
144          3  Alternative & Punk
156          4       Rock And Roll
281          5               Blues
292          6               Latin
429          7              Reggae
484          8                 Pop
535          9          Soundtrack
944         10          Bossa Nova
1516        11      Easy Listening
1790        12         Heavy Metal
2026        13            R&B/Soul
2108        14   Electronica/Dance
2201        15               World
3167        16         Hip Hop/Rap
4644        17         Alternative
4692        18           Classical
4856        19               Opera
4963        20     Science Fiction
4964        21            TV Shows
4981        22    Sci Fi & Fantasy
4984        23               Drama
5113        24              Comedy

In [95]:
media_type1 = play_list_music[['media_type_id', 'media_type']]
media_type = media_type1.drop_duplicates()
media_type

      media_type_id                   media_type
0                 0              MPEG audio file
4487              1     Protected AAC audio file
4963              2  Protected MPEG-4 video file
5178              3     Purchased AAC audio file
5198              4               AAC audio file

In [111]:
tracka = play_list_music[['track_id','song','album_id','media_type_id','Bytes','genre_id']]
track1 = tracka.merge(cut, on = 'track_id', how = 'left')
track1.head(10) 
track = track1.drop_duplicates()
track

,track_id,song,album_id,media_type_id,Bytes,genre_id,UnitPrice
0,1,For Those About To Rock (We Salute You),0,0,11170334,0,0.99
2,6,Put The Finger On You,0,0,6713451,0,0.99
3,7,Let's Get It Up,0,0,7636561,0,NaN
4,8,Inject The Venom,0,0,6852860,0,0.99
6,9,Snowballed,0,0,6599424,0,0.99
...,...,...,...,...,...,...,...
5587,3355,Love Comes,343,4,3240609,0,0.99
5588,3356,Muita Bobeira,344,4,2775071,6,0.99
5589,3357,OAM's Blues,345,4,4292028,1,NaN
5590,3358,One Step Beyond,342,4,6034098,14,NaN
5591,3359,"Symphony No. 3 in E-flat major, Op. 55, ""Eroic...",346,4,5817216,18,NaN

In [150]:
playlistwithtracks1 = play_list_music[['playlist_id','track_id']]
playlistwithtracks = playlistwithtracks1.drop_duplicates()
playlistwithtracks

      playlist_id  track_id
0               0         1
1               1         1
2               0         6
3               0         7
4               0         8
...           ...       ...
5207            0      3356
5208            0      3357
5209            0      3358
5210            0      3359
5211            2      3359

[5212 rows x 2 columns]

In [101]:
playlist1 = play_list_music[['playlist_id','playlist']]
playlist = playlist1.drop_duplicates()
playlist

      playlist_id                    playlist
0               0                       Music
1               1         Heavy Metal Classic
20              2                  90’s Music
79              3                      Grunge
314             4             Brazilian Music
895             5                 On-The-Go 1
4694            6                   Classical
4695            7  Classical 101 - The Basics
4781            8  Classical 101 - Next Steps
4894            9   Classical 101 - Deep Cuts
4963           10                    TV Shows
5175           11                Music Videos

In [107]:
album1 = play_list_music[['album_id','album','artist_id']]
album = album1.drop_duplicates()
album

      album_id                                  album  artist_id
0            0  For Those About To Rock We Salute You          0
11           1                      Let There Be Rock          0
19           2                               Big Ones          1
49           3                     Jagged Little Pill          2
75           4                               Facelift          3
...        ...                                    ...        ...
5202       342                                Realize        199
5203       343                    Every Kind of Light        200
5207       344                                Duos II        201
5208       345                                 Worlds        202
5210       346                  The Best of Beethoven        203

[347 rows x 3 columns]

In [104]:
artist1 = play_list_music[['artist_id','artist']]
artist = artist1.drop_duplicates()
artist

      artist_id                        artist
0             0                         AC/DC
19            1                     Aerosmith
49            2             Alanis Morissette
75            3               Alice In Chains
100           4          Antônio Carlos Jobim
...         ...                           ...
5202        199                    Karsh Kale
5203        200                    The Posies
5207        201  Luciana Souza/Romero Lubambo
5208        202                Aaron Goldberg
5210        203   Nicolaus Esterhazy Sinfonia

[204 rows x 2 columns]

In [55]:
customer = pd.read_csv('play_list_track_customers.csv')
customer.head(n=10)

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br
1,2,Leonie,Köhler,NaN,Theodor-Heuss-Straße 34,Stuttgart,NaN,Germany,70174,+49 0711 2842222,NaN,leonekohler@surfeu.de
2,3,François,Tremblay,NaN,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,NaN,ftremblay@gmail.com
3,4,Bjørn,Hansen,NaN,Ullevålsveien 14,Oslo,NaN,Norway,171,+47 22 44 22 22,NaN,bjorn.hansen@yahoo.no
4,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,NaN,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com
5,6,Helena,Holý,NaN,Rilská 3174/6,Prague,NaN,Czech Republic,14300,+420 2 4177 0449,NaN,hholy@gmail.com
6,7,Astrid,Gruber,NaN,"Rotenturmstraße 4, 1010 Innere Stadt",Vienne,NaN,Austria,1010,+43 01 5134505,NaN,astrid.gruber@apple.at
7,8,Daan,Peeters,NaN,Grétrystraat 63,Brussels,NaN,Belgium,1000,+32 02 219 03 03,NaN,daan_peeters@apple.be
8,9,Kara,Nielsen,NaN,Sønder Boulevard 51,Copenhagen,NaN,Denmark,1720,+453 3331 9991,NaN,kara.nielsen@jubii.dk
9,10,Eduardo,Martins,Woodstock Discos,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,+55 (11) 3033-5446,+55 (11) 3033-4564,eduardo@woodstock.com.br

In [143]:
play_list_track_buy = pd.read_csv('play_list_track_buy.csv')
play_list_track_buy.head(n=10)
play_list_track_buy = play_list_track_buy.rename(columns={'trackid':'track_id'})

cut = play_list_track_buy[['track_id','UnitPrice']]
invoice1 = play_list_track_buy


invoice1['invoice_row_id'] = invoice1.index + 1 

invoice_row = invoice1[['invoice_row_id','InvoiceId','track_id','UnitPrice']]
invoice2 = invoice1[['InvoiceId','CustomerId','BillingAddress','BillingCity']]
invoice = invoice2.drop_duplicates()
invoice

,InvoiceId,CustomerId,BillingAddress,BillingCity
0,1,2,Theodor-Heuss-Straße 34,Stuttgart
2,2,4,Ullevålsveien 14,Oslo
6,3,8,Grétrystraat 63,Brussels
12,4,14,8210 111 ST NW,Edmonton
21,5,23,69 Salem Street,Boston
...,...,...,...,...
2206,408,25,319 N. Frances Street,Madison
2210,409,29,796 Dundas Street West,Toronto
2216,410,35,"Rua dos Campeões Europeus de Viena, 4350",Porto
2225,411,44,Porthaninkatu 9,Helsinki
2239,412,58,"12,Community Centre",Delhi

In [1]:
# Then connects to the DB
from sqlalchemy.engine.url import URL
from sqlalchemy import create_engine

# -------------- Add Content Below

# SQLAlchemy Connection Parameters



# SQLAlchemy Engine



# -------------- Add Content Above
del mypasswd

NameError: name 'mypasswd' is not defined

# Design a database that is _properly normalized_.

Note: You can expect up approximately ten (10) tables to be derived from three CSV files.

There is no implementation cell, the output should be an ERD or sketch.

Visit the course Canvas Site for Normalization videos.

# Implement your database design.

Use the cells below to add your `CREATE TABLE` statements.
Add extra cells as necessary

In [62]:
sqlCreateTable = """ CREATE TABLE may96c.genre (
    genre_id INT PRIMARY KEY,
    genre VARCHAR); """

cursor.execute(sqlCreateTable)

connection.commit()

In [63]:
sqlCreateTable = """ CREATE TABLE may96c.media_type  (
    media_type_id INT PRIMARY KEY,
    media_type VARCHAR) ; """

cursor.execute(sqlCreateTable)

connection.commit()

In [64]:
sqlCreateTable = """CREATE TABLE  may96c.playlist (
    playlist_id INT PRIMARY KEY,
    playlist VARCHAR);"""
cursor.execute(sqlCreateTable)

connection.commit()

In [72]:
sqlCreateTable = """CREATE TABLE may96c.artists (
    artist_id INT PRIMARY KEY,
    artist VARCHAR) ; """

cursor.execute(sqlCreateTable)

connection.commit()

In [76]:
sqlCreateTable = """CREATE TABLE may96c.albums ( 
    album_id INT PRIMARY KEY,
    album VARCHAR,
    artist_id INT,
    CONSTRAINT fk_album
        FOREIGN KEY(artist_id)
            REFERENCES may96c.artists(artist_id)
); """

cursor.execute(sqlCreateTable)

connection.commit()

In [77]:
sqlCreateTable = """CREATE TABLE may96c.track ( 
    track_id INT PRIMARY KEY,
    song VARCHAR,
    album_id INT,
    media_type_id INT,
    Bytes INT,
    genre_id INT, 
    UnitPrice INT,
    CONSTRAINT fk_track_a
        FOREIGN KEY(album_id)
            REFERENCES may96c.albums(album_id),
    CONSTRAINT fk_track_b
        FOREIGN KEY(media_type_id)
            REFERENCES may96c.media_type(media_type_id),
    CONSTRAINT fk_track_c
        FOREIGN KEY(genre_id)
            REFERENCES may96c.genre(genre_id)
); """ 

cursor.execute(sqlCreateTable)

connection.commit()

In [81]:
sqlCreateTable = """CREATE TABLE may96c.customer (
    CustomerId INT PRIMARY KEY, 
    FirstName VARCHAR,
    LastName VARCHAR,
    Company VARCHAR,
    Address VARCHAR,
    City VARCHAR,
    State VARCHAR,
    Country VARCHAR, 
    PostalCode VARCHAR,
    Phone VARCHAR,
    Fax VARCHAR ,
    Email VARCHAR ); """

cursor.execute(sqlCreateTable)

connection.commit()

In [136]:
sqlCreateTable = """CREATE TABLE may96c.invoice (
    InvoiceId INT primary key,
    CustomerId INT, 
    BillingAddress VARCHAR, 
    BillingCity VARCHAR,
    CONSTRAINT fk_invoice_b 
        FOREIGN KEY (CustomerId)
        REFERENCES may96c.customer(CustomerId) ); """

cursor.execute(sqlCreateTable)

connection.commit()

In [141]:
sqlCreateTable = """CREATE TABLE may96c.invoice_row (
    invoice_row_id INT primary key,
    InvoiceId INT, 
    track_id INT, 
    UnitPrice INT, 
    CONSTRAINT fk_invoice_rowa
        FOREIGN KEY (InvoiceId)
        REFERENCES may96c.invoice(InvoiceId),
    CONSTRAINT fk_invoice_rowb
        FOREIGN KEY (track_id)
        REFERENCES may96c.track(track_id)); """

cursor.execute(sqlCreateTable)

connection.commit()

In [135]:
sqlCreateTable = """CREATE TABLE may96c.playlistwithtracks (
    playlist_id INT,
    track_id INT,
    CONSTRAINT fk_pwta
    FOREIGN KEY (playlist_id)
    REFERENCES may96c.playlist(playlist_id),
    CONSTRAINT fk_pwtb
    FOREIGN KEY (track_id)
    REFERENCES may96c.track(track_id),
    PRIMARY KEY (playlist_id,track_id)); """ 

cursor.execute(sqlCreateTable)

connection.commit()

# Load data from files into database.

### Use Excel or Pandas to carve the provided CSV files above into the **set of appropriate files** you need to load into your database.
   1. Example: Save File As *new_csv_name.csv*
   1. Remove unneeded columns
   1. Remove duplicate rows
   1. Save File, Navigate in JupyterHub folder view (your first JupyterHub tab)
   1. Upload file


   1. Load the CSV into your database using Python.

In [93]:
print(list(genre))
s = ''
for i in list(genre):
    s += '%s,'
print(s)

['genre', 'genre_id']
%s,%s,

In [98]:
register_adapter(np.int64,AsIs)
register_adapter(np.float64,AsIs)
genre = genre.where(pd.notnull(genre), None)
INSERT_SQL = 'INSERT INTO may96c.genre '
INSERT_SQL += ' (genre_id, genre) VALUES '
INSERT_SQL += '(%s,%s)'

with connection, connection.cursor() as cursor:
    
    for row in genre.itertuples(index=False, name=None):  # pull each row as a tuple
        
        cursor.execute(INSERT_SQL,row)

In [96]:
print(list(media_type))
s = ''
for i in list(media_type):
    s += '%s,'
print(s)

['media_type_id', 'media_type']
%s,%s,

In [99]:
register_adapter(np.int64,AsIs)
register_adapter(np.float64,AsIs)
media_type = media_type.where(pd.notnull(media_type), None)
INSERT_SQL = 'INSERT INTO may96c.media_type '
INSERT_SQL += ' (media_type_id, media_type) VALUES '
INSERT_SQL += '(%s,%s)'

with connection, connection.cursor() as cursor:
    
    for row in media_type.itertuples(index=False, name=None):  # pull each row as a tuple
        
        cursor.execute(INSERT_SQL,row)

In [102]:
print(list(playlist))
s = ''
for i in list(playlist):
    s += '%s,'
print(s)

['playlist_id', 'playlist']
%s,%s,

In [103]:
register_adapter(np.int64,AsIs)
register_adapter(np.float64,AsIs)
playlist = playlist.where(pd.notnull(playlist), None)
INSERT_SQL = 'INSERT INTO may96c.playlist '
INSERT_SQL += ' (playlist_id, playlist) VALUES '
INSERT_SQL += '(%s,%s)'

with connection, connection.cursor() as cursor:
    
    for row in playlist.itertuples(index=False, name=None):  # pull each row as a tuple
        
        cursor.execute(INSERT_SQL,row)

In [105]:
print(list(artist))
s = ''
for i in list(artist):
    s += '%s,'
print(s)

['artist_id', 'artist']
%s,%s,

In [106]:
register_adapter(np.int64,AsIs)
register_adapter(np.float64,AsIs)
artist = artist.where(pd.notnull(artist), None)
INSERT_SQL = 'INSERT INTO may96c.artists '
INSERT_SQL += ' (artist_id, artist) VALUES '
INSERT_SQL += '(%s,%s)'

with connection, connection.cursor() as cursor:
    
    for row in artist.itertuples(index=False, name=None):  # pull each row as a tuple
        
        cursor.execute(INSERT_SQL,row)

In [108]:
print(list(album))
s = ''
for i in list(album):
    s += '%s,'
print(s)

['album_id', 'album', 'artist_id']
%s,%s,%s,

In [109]:
register_adapter(np.int64,AsIs)
register_adapter(np.float64,AsIs)
album = album.where(pd.notnull(album), None)
INSERT_SQL = 'INSERT INTO may96c.albums '
INSERT_SQL += ' (album_id, album, artist_id) VALUES '
INSERT_SQL += '(%s,%s,%s)'

with connection, connection.cursor() as cursor:
    
    for row in album.itertuples(index=False, name=None):  # pull each row as a tuple
        
        cursor.execute(INSERT_SQL,row)

In [112]:
print(list(track))
s = ''
for i in list(track):
    s += '%s,'
print(s)

['track_id', 'song', 'album_id', 'media_type_id', 'Bytes', 'genre_id', 'UnitPrice']
%s,%s,%s,%s,%s,%s,%s,

In [113]:
register_adapter(np.int64,AsIs)
register_adapter(np.float64,AsIs)
track = track.where(pd.notnull(track), None)
INSERT_SQL = 'INSERT INTO may96c.track '
INSERT_SQL += ' (track_id, song, album_id, media_type_id, Bytes, genre_id, UnitPrice) VALUES '
INSERT_SQL += '(%s,%s,%s,%s,%s,%s,%s)'

with connection, connection.cursor() as cursor:
    
    for row in track.itertuples(index=False, name=None):  # pull each row as a tuple
        
        cursor.execute(INSERT_SQL,row)

In [114]:
print(list(customer))
s = ''
for i in list(customer):
    s += '%s,'
print(s)

['CustomerId', 'FirstName', 'LastName', 'Company', 'Address', 'City', 'State', 'Country', 'PostalCode', 'Phone', 'Fax', 'Email']
%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,

In [115]:
register_adapter(np.int64,AsIs)
register_adapter(np.float64,AsIs)
customer = customer.where(pd.notnull(customer), None)
INSERT_SQL = 'INSERT INTO may96c.customer '
INSERT_SQL += ' (CustomerId, FirstName, LastName, Company, Address, City, State, Country, PostalCode, Phone, Fax, Email) VALUES '
INSERT_SQL += '(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'

with connection, connection.cursor() as cursor:
    
    for row in customer.itertuples(index=False, name=None):  # pull each row as a tuple
        
        cursor.execute(INSERT_SQL,row)

In [146]:
print(list(invoice))
s = ''
for i in list(invoice):
    s += '%s,'
print(s)

['InvoiceId', 'CustomerId', 'BillingAddress', 'BillingCity']
%s,%s,%s,%s,

In [147]:
register_adapter(np.int64,AsIs)
register_adapter(np.float64,AsIs)
invoice = invoice.where(pd.notnull(invoice), None)
INSERT_SQL = 'INSERT INTO may96c.invoice '
INSERT_SQL += ' (InvoiceId, CustomerId, BillingAddress, BillingCity) VALUES '
INSERT_SQL += '(%s,%s,%s,%s)'

with connection, connection.cursor() as cursor:
    
    for row in invoice.itertuples(index=False, name=None):  # pull each row as a tuple
        
        cursor.execute(INSERT_SQL,row)

In [148]:
print(list(invoice_row))
s = ''
for i in list(invoice_row):
    s += '%s,'
print(s)

['invoice_row_id', 'InvoiceId', 'track_id', 'UnitPrice']
%s,%s,%s,%s,

In [149]:
register_adapter(np.int64,AsIs)
register_adapter(np.float64,AsIs)
invoice_row = invoice_row.where(pd.notnull(invoice_row), None)
INSERT_SQL = 'INSERT INTO may96c.invoice_row '
INSERT_SQL += ' (invoice_row_id, InvoiceId, track_id, UnitPrice) VALUES '
INSERT_SQL += '(%s,%s,%s,%s)'

with connection, connection.cursor() as cursor:
    
    for row in invoice_row.itertuples(index=False, name=None):  # pull each row as a tuple
        
        cursor.execute(INSERT_SQL,row)

In [152]:
print(list(playlistwithtracks))
s = ''
for i in list(playlistwithtracks):
    s += '%s,'
print(s)

['playlist_id', 'track_id']
%s,%s,

In [153]:
register_adapter(np.int64,AsIs)
register_adapter(np.float64,AsIs)
playlistwithtracks = playlistwithtracks.where(pd.notnull(playlistwithtracks), None)
INSERT_SQL = 'INSERT INTO may96c.playlistwithtracks'
INSERT_SQL += ' (playlist_id, track_id) VALUES '
INSERT_SQL += '(%s,%s)'

with connection, connection.cursor() as cursor:
    
    for row in playlistwithtracks.itertuples(index=False, name=None):  # pull each row as a tuple
        
        cursor.execute(INSERT_SQL,row)

## Once Loaded
  * Write SQL to show the `COUNT(*)` from each table loaded.

In [10]:
leng = 'SELECT count(*) FROM may96c.genre'
cursor.execute(leng)
cursor.fetchall()

[(25,)]

In [12]:
lenmediat = 'SELECT count(*) FROM may96c.media_type'
cursor.execute(lenmediat)
cursor.fetchall()

[(5,)]

In [13]:
lplay = 'SELECT count(*) FROM may96c.playlist'
cursor.execute(lplay)
cursor.fetchall()

[(12,)]

In [14]:
lart = 'SELECT count(*) FROM may96c.artists'
cursor.execute(lart)
cursor.fetchall()

[(204,)]

In [15]:
lal = 'SELECT count(*) FROM may96c.albums'
cursor.execute(lal)
cursor.fetchall()

[(347,)]

In [19]:
ltr = 'SELECT count(*) FROM may96c.track'
cursor.execute(ltr)
cursor.fetchall()

[(3503,)]

In [20]:
lcus = 'SELECT count(*) FROM may96c.customer'
cursor.execute(lcus)
cursor.fetchall()

[(59,)]

In [21]:
linv = 'SELECT count(*) FROM may96c.invoice'
cursor.execute(linv)
cursor.fetchall()

[(412,)]

In [22]:
linvr = 'SELECT count(*) FROM may96c.invoice_row'
cursor.execute(linvr)
cursor.fetchall()

[(2240,)]

In [23]:
lpwt = 'SELECT count(*) FROM may96c.playlistwithtracks'
cursor.execute(lpwt)
cursor.fetchall()

[(5212,)]

#  Write some basic queries.


## List each artist and the average bytes per song.

In [12]:
avb = 'SELECT AVG(Bytes), artist FROM may96c.artists JOIN may96c.albums on may96c.albums.artist_id = may96c.artists.artist_id JOIN may96c.track ON may96c.albums.album_id = may96c.track.album_id GROUP BY artist'
cursor.execute(avb)
cursor.fetchall()

[(Decimal('4244149.000000000000'),
  'Choir Of Westminster Abbey & Simon Preston'),
 (Decimal('426654344.65217391'), 'Lost'),
 (Decimal('5064553.000000000000'), 'Orchestra of The Age of Enlightenment'),
 (Decimal('8066677.059701492537'), 'Pearl Jam'),
 (Decimal('7335806.571428571429'), 'João Suplicy'),
 (Decimal('8175678.357142857143'), 'Passengers'),
 (Decimal('5680780.500000000000'), 'Karsh Kale'),
 (Decimal('11497862.964912280702'), 'Led Zeppelin'),
 (Decimal('11449106.858695652174'), 'Deep Purple'),
 (Decimal('8975021.375000000000'), 'Def Leppard'),
 (Decimal('7505847.050000000000'), 'The Who'),
 (Decimal('8359081.083333333333'), 'Jota Quest'),
 (Decimal('3347810.000000000000'),
  'Anne-Sophie Mutter, Herbert Von Karajan & Wiener Philharmoniker'),
 (Decimal('9618496.866666666667'), 'Aerosmith'),
 (Decimal('6747161.552631578947'), 'Titãs'),
 (Decimal('6818198.647058823529'), 'Green Day'),
 (Decimal('8806079.888888888889'), 'AC/DC'),
 (Decimal('8943953.333333333333'), 'Frank Zappa & Captain Beefheart'),
 (Decimal('4292028.000000000000'), 'Aaron Goldberg'),
 (Decimal('8696855.419354838710'), 'Legião Urbana'),
 (Decimal('8612588.666666666667'), 'Eric Clapton'),
 (Decimal('11302328.384615384615'), 'Incognito'),
 (Decimal('7683171.205882352941'), 'Chico Buarque'),
 (Decimal('9785346.000000000000'), 'Yehudi Menuhin'),
 (Decimal('6490987.000000000000'), 'System Of A Down'),
 (Decimal('3316063.500000000000'), 'English Concert & Trevor Pinnock'),
 (Decimal('4123531.000000000000'), 'Alberto Turco & Nova Schola Gregoriana'),
 (Decimal('4310896.000000000000'), 'Edo de Waart & San Francisco Symphony'),
 (Decimal('6119342.750000000000'), 'Planet Hemp'),
 (Decimal('10423110.882352941176'), 'O Rappa'),
 (Decimal('3305164.000000000000'), 'Philip Glass Ensemble'),
 (Decimal('8000704.487804878049'), 'R.E.M.'),
 (Decimal('8246332.200000000000'), "Paul D'Ianno"),
 (Decimal('6881196.772727272727'), 'Gene Krupa'),
 (Decimal('10690437.189189189189'), 'Miles Davis'),
 (Decimal('8052374.000000000000'), 'Cake'),
 (Decimal('8691670.894736842105'), 'Lenny Kravitz'),
 (Decimal('7198239.265306122449'), 'Os Paralamas Do Sucesso'),
 (Decimal('7287239.500000000000'), 'Mônica Marianno'),
 (Decimal('10810509.736842105263'), 'The Black Crowes'),
 (Decimal('6311909.666666666667'), 'Marisa Monte'),
 (Decimal('6729466.500000000000'), 'Chico Science & Nação Zumbi'),
 (Decimal('4371533.000000000000'), 'Itzhak Perlman'),
 (Decimal('8426764.642857142857'), 'The Police'),
 (Decimal('7590637.166666666667'), 'Cássia Eller'),
 (Decimal('9160082.000000000000'),
  'Emanuel Ax, Eugene Ormandy & Philadelphia Orchestra'),
 (Decimal('8333538.176470588235'), 'Smashing Pumpkins'),
 (Decimal('7326996.615384615385'), 'JET'),
 (Decimal('8623762.750000000000'), 'Funk Como Le Gusta'),
 (Decimal('3347229.000000000000'), 'The Posies'),
 (Decimal('5126563.000000000000'), 'Dread Zeppelin'),
 (Decimal('2630293.000000000000'), 'Boston Symphony Orchestra & Seiji Ozawa'),
 (Decimal('6160517.833333333333'), 'Frank Sinatra'),
 (Decimal('9377511.411764705882'), 'Black Sabbath'),
 (Decimal('6419730.000000000000'),
  'Orchestre Révolutionnaire et Romantique & John Eliot Gardiner'),
 (Decimal('9170782.529411764706'), 'Soundgarden'),
 (Decimal('8703873.769230769231'), 'Alanis Morissette'),
 (Decimal('9343023.511737089202'), 'Iron Maiden'),
 (Decimal('6923674.000000000000'), 'Gonzaguinha'),
 (Decimal('7931108.225806451613'), 'Cidade Negra'),
 (Decimal('6351400.333333333333'), 'Marvin Gaye'),
 (Decimal('5817216.000000000000'), 'Nicolaus Esterhazy Sinfonia'),
 (Decimal('7292350.333333333333'), 'Eugene Ormandy'),
 (Decimal('10824331.357142857143'), 'Jorge Ben'),
 (Decimal('11351576.875000000000'), 'Metallica'),
 (Decimal('282548216.96226415'), 'The Office'),
 (Decimal('9349100.666666666667'), 'Pink Floyd'),
 (Decimal('1732282.000000000000'), "The King's Singers"),
 (Decimal('7720226.096153846154'), 'Van Halen'),
 (Decimal('2229617.000000000000'), 'Michele Campanella'),
 (Decimal('8550011.500000000000'), 'Men At Work'),
 (Decimal('4307907.000000000000'), 'Gerald Moore'),
 (Decimal('2365930.000000000000'),
  'Equale Brass Ensemble, John Eliot Gardiner & Munich Monteverdi Orchestra and Choir'),
 (Decimal('10972170.363636363636'), 'Bruce Dickinson'),
 (Decimal('5760129.000000000000'),
  'Academy of St. Martin in the Fields Chamber Ensemble & Sir Neville Marriner'),
 (Decimal('6129146.000000000000'),
  "Kent Nagano and Orchestre de l'Opéra de Lyon"),
 (Decimal('8202586.104166666667'), 'Red Hot Chili Peppers'),
 (Decimal('9947180.250000000000'), 'Page & Plant'),
 (Decimal('7468969.384615384615'), 'Milton Nascimento'),
 (Decimal('512231374.21739130'), 'Heroes'),
 (Decimal('8505358.500000000000'), 'Cláudio Zoli'),
 (Decimal('3938555.086956521739'), 'Amy Winehouse'),
 (Decimal('7183975.800000000000'), 'Vinícius De Moraes'),
 (Decimal('7943777.090909090909'), 'R.E.M. Feat. Kate Pearson'),
 (Decimal('3858559.642857142857'), 'Chris Cornell'),
 (Decimal('7230310.785714285714'), 'Elis Regina'),
 (Decimal('8285941.000000000000'),
  'Richard Marlow & The Choir of Trinity College, Cambridge'),
 (Decimal('7566210.177777777778'), 'Queen'),
 (Decimal('10945694.875000000000'), 'Jamiroquai'),
 (Decimal('7644338.142857142857'), 'Lulu Santos'),
 (Decimal('4735649.000000000000'), 'Habib Koité and Bamada'),
 (Decimal('1973559.000000000000'), 'Les Arts Florissants & William Christie'),
 (Decimal('492670102.00000000'), 'Aquaman'),
 (Decimal('2775071.000000000000'), 'Luciana Souza/Romero Lubambo'),
 (Decimal('8059666.906250000000'), 'Gilberto Gil'),
 (Decimal('5908455.000000000000'), 'Berliner Philharmoniker & Hans Rosbaud'),
 (Decimal('536359243.75000000'), 'Battlestar Galactica (Classic)'),
 (Decimal('10672822.714285714286'), 'Rush'),
 (Decimal('8916313.000000000000'),
  'Chicago Symphony Orchestra & Fritz Reiner'),
 (Decimal('4124707.000000000000'), 'Barry Wordsworth & BBC Concert Orchestra'),
 (Decimal('7760019.416666666667'), 'Godsmack'),
 (Decimal('6668487.214285714286'), "Guns N' Roses"),
 (Decimal('8510144.434782608696'), 'Skank'),
 (Decimal('2283131.000000000000'), 'Emerson String Quartet'),
 (Decimal('2123262.250000000000'), 'BackBeat'),
 (Decimal('10085867.000000000000'),
  'Royal Philharmonic Orchestra & Sir Thomas Beecham'),
 (Decimal('4848081.000000000000'),
  'Berliner Philharmoniker & Herbert Von Karajan'),
 (Decimal('6474980.000000000000'),
  'Berliner Philharmoniker, Claudio Abbado & Sabine Meyer'),
 (Decimal('8528703.823529411765'), 'Mötley Crüe'),
 (Decimal('4314850.000000000000'),
  'Academy of St. Martin in the Fields, John Birch, Sir Neville Marriner & Sylvia McNair'),
 (Decimal('7941998.909090909091'), 'The Doors'),
 (Decimal('7813757.525000000000'), 'Audioslave'),
 (Decimal('8758403.666666666667'), 'Stone Temple Pilots'),
 (Decimal('3114209.000000000000'), 'Sir Georg Solti & Wiener Philharmoniker'),
 (Decimal('19041254.000000000000'),
  'Terry Bozzio, Tony Levin & Steve Stevens'),
 (Decimal('10042147.277777777778'), 'Black Label Society'),
 (Decimal('5686674.300000000000'), 'Raimundos'),
 (Decimal('7534057.857142857143'), 'Caetano Veloso'),
 (Decimal('6318740.000000000000'), 'Maurizio Pollini'),
 (Decimal('8334681.057692307692'), 'Faith No More'),
 (Decimal('6970701.500000000000'), 'James Brown'),
 (Decimal('7239057.000000000000'), 'Toquinho & Vinícius'),
 (Decimal('4001276.000000000000'), 'James Levine'),
 (Decimal('3880552.000000000000'),
  'Academy of St. Martin in the Fields & Sir Neville Marriner'),
 (Decimal('8119617.875000000000'), 'Judas Priest'),
 (Decimal('8582861.307692307692'), 'Velvet Revolver'),
 (Decimal('4781384.000000000000'),
  'The 12 Cellists of The Berlin Philharmonic'),
 (Decimal('6965201.000000000000'), 'Antal Doráti & London Symphony Orchestra'),
 (Decimal('4498583.000000000000'),
  'Chicago Symphony Chorus, Chicago Symphony Orchestra & Sir Georg Solti'),
 (Decimal('7061941.050000000000'), 'Creedence Clearwater Revival'),
 (Decimal('4416550.000000000000'), 'Aisha Duo'),
 (Decimal('9226616.653846153846'), 'Djavan'),
 (Decimal('5184289.000000000000'),
  'London Symphony Orchestra & Sir Charles Mackerras'),
 (Decimal('8819215.038461538462'), 'The Tea Party'),
 (Decimal('6753143.142857142857'), 'Falamansa'),
 (Decimal('8026438.857142857143'), 'Ed Motta'),
 (Decimal('2649938.000000000000'), 'Ton Koopman'),
 (Decimal('11067747.250000000000'), 'Billy Cobham'),
 (Decimal('2189002.000000000000'),
  'Chor der Wiener Staatsoper, Herbert Von Karajan & Wiener Philharmoniker'),
 (Decimal('2315495.000000000000'), 'Yo-Yo Ma'),
 (Decimal('6521811.310344827586'), 'Nirvana'),
 (Decimal('4195542.000000000000'), 'Sergei Prokofiev & Yuri Temirkanov'),
 (Decimal('15619142.259259259259'), 'Santana'),
 (Decimal('7978789.985185185185'), 'U2'),
 (Decimal('5548755.000000000000'), 'Martin Roscoe'),
 (Decimal('10887931.000000000000'), 'Otto Klemperer & Philharmonia Orchestra'),
 (Decimal('9553140.000000000000'), 'Scholars Baroque Ensemble'),
 (Decimal('7865479.000000000000'),
  'Felix Schmidt, London Symphony Orchestra & Rafael Frühbeck de Burgos'),
 (Decimal('3211245.000000000000'),
  'Aaron Copland & London Symphony Orchestra'),
 (Decimal('8410303.000000000000'), 'The Cult'),
 (Decimal('5948116.066666666667'), 'Motörhead'),
 (Decimal('8116093.900000000000'), 'Marillion'),
 (Decimal('7153671.500000000000'), 'Olodum'),
 (Decimal('16454937.000000000000'),
  'Mela Tenenbaum, Pro Musica Prague & Richard Kapp'),
 (Decimal('3819535.000000000000'), "Christopher O'Riley"),
 (Decimal('4814130.916666666667'), 'Scorpions'),
 (Decimal('6458501.000000000000'),
  "Charles Dutoit & L'Orchestre Symphonique de Montréal"),
 (Decimal('5619810.200000000000'), 'Temple of the Dog'),
 (Decimal('12653978.555555555556'), 'Dennis Chambers'),
 (Decimal('6497867.000000000000'),
  'Philharmonia Orchestra & Sir Neville Marriner'),
 (Decimal('8793930.833333333333'), 'Alice In Chains'),
 (Decimal('5030929.500000000000'), 'Accept'),
 (Decimal('9273123.000000000000'), 'Adrian Leaper & Doreen de Feis'),
 (Decimal('7572474.580645161290'), 'Antônio Carlos Jobim'),
 (Decimal('8388896.196428571429'), 'Various Artists'),
 (Decimal('5605648.000000000000'),
  'Britten Sinfonia, Ivor Bolton & Lesley Garrett'),
 (Decimal('9458422.380952380952'), 'Spyro Gyra'),
 (Decimal('6937762.882352941176'), 'Jimi Hendrix'),
 (Decimal('9858950.083333333333'), 'David Coverdale'),
 (Decimal('4744929.000000000000'), 'Julian Bream'),
 (Decimal('4211495.000000000000'), 'Fretwork'),
 (Decimal('527533346.40000000'), 'Battlestar Galactica'),
 (Decimal('7574099.187500000000'), 'Ozzy Osbourne'),
 (Decimal('7285110.235294117647'), 'Marcos Valle'),
 (Decimal('3700206.000000000000'), 'Gustav Mahler'),
 (Decimal('2081895.000000000000'), 'Wilhelm Kempff'),
 (Decimal('8265292.840909090909'), 'Foo Fighters'),
 (Decimal('3665114.000000000000'), 'Nash Ensemble'),
 (Decimal('4834785.000000000000'), 'Göteborgs Symfoniker & Neeme Järvi'),
 (Decimal('3847164.000000000000'),
  'Academy of St. Martin in the Fields, Sir Neville Marriner & Thurston Dart'),
 (Decimal('6846291.500000000000'),
  'Michael Tilson Thomas & San Francisco Symphony'),
 (Decimal('9585597.000000000000'),
  'Leonard Bernstein & New York Philharmonic'),
 (Decimal('3817318.800000000000'), 'Joe Satriani'),
 (Decimal('7482001.028571428571'), 'Kiss'),
 (Decimal('6162121.294117647059'), 'Body Count'),
 (Decimal('2861468.000000000000'),
  'Sir Georg Solti, Sumi Jo & Wiener Philharmoniker'),
 (Decimal('2920890.000000000000'), 'Luciano Pavarotti'),
 (Decimal('6884506.736842105263'), 'House Of Pain'),
 (Decimal('6042711.133333333333'), 'Tim Maia'),
 (Decimal('3644793.000000000000'), 'Calexico'),
 (Decimal('10926580.625000000000'), 'Apocalyptica'),
 (Decimal('7190239.052631578947'), 'Zeca Pagodinho'),
 (Decimal('6664798.714285714286'), 'Raul Seixas'),
 (Decimal('8098983.400000000000'), 'Stevie Ray Vaughan & Double Trouble'),
 (Decimal('7092323.777777777778'), 'The Clash'),
 (Decimal('7830874.733333333333'), 'O Terço'),
 (Decimal('4588197.000000000000'),
  'Herbert Von Karajan, Mirella Freni & Wiener Philharmoniker'),
 (Decimal('7862559.857142857143'), 'Os Mutantes'),
 (Decimal('5987695.000000000000'),
  'Roger Norrington, London Classical Players'),
 (Decimal('8101013.097560975610'), 'The Rolling Stones'),
 (Decimal('3192890.000000000000'),
  'Hilary Hahn, Jeffrey Kahane, Los Angeles Chamber Orchestra & Margaret Batjer'),
 (Decimal('1189062.000000000000'),
  'C. Monteverdi, Nigel Rogers - Chiaroscuro; London Baroque; London Cornett & Sackbu'),
 (Decimal('8403832.000000000000'), 'UB40'),
 (Decimal('7862503.090909090909'), 'Buddy Guy')]

## List average number of tracks per album for each artist.

In [3]:
avgtperart = 'SELECT AVG(cnt), artist_id FROM (SELECT COUNT(track_id) as cnt, may96c.track.album_id, artist_id FROM may96c.track JOIN may96c.albums ON may96c.track.album_id = may96c.albums.album_id GROUP BY artist_id, may96c.track.album_id ) as cool GROUP BY artist_id ;'
cursor.execute(avgtperart)
cursor.fetchall()

[(Decimal('1.00000000000000000000'), 183),
 (Decimal('11.0000000000000000'), 100),
 (Decimal('1.00000000000000000000'), 136),
 (Decimal('15.0000000000000000'), 38),
 (Decimal('1.00000000000000000000'), 150),
 (Decimal('1.00000000000000000000'), 139),
 (Decimal('1.00000000000000000000'), 140),
 (Decimal('1.00000000000000000000'), 193),
 (Decimal('11.0000000000000000'), 12),
 (Decimal('11.5000000000000000'), 164),
 (Decimal('1.00000000000000000000'), 137),
 (Decimal('12.0000000000000000'), 78),
 (Decimal('15.0000000000000000'), 24),
 (Decimal('1.00000000000000000000'), 191),
 (Decimal('1.00000000000000000000'), 159),
 (Decimal('17.5000000000000000'), 25),
 (Decimal('1.00000000000000000000'), 122),
 (Decimal('12.0000000000000000'), 94),
 (Decimal('1.00000000000000000000'), 141),
 (Decimal('23.0000000000000000'), 186),
 (Decimal('1.00000000000000000000'), 154),
 (Decimal('10.6666666666666667'), 49),
 (Decimal('24.0000000000000000'), 47),
 (Decimal('1.00000000000000000000'), 177),
 (Decimal('8.1428571428571429'), 20),
 (Decimal('1.00000000000000000000'), 182),
 (Decimal('14.0000000000000000'), 33),
 (Decimal('15.0000000000000000'), 1),
 (Decimal('16.3333333333333333'), 76),
 (Decimal('19.0000000000000000'), 106),
 (Decimal('10.0000000000000000'), 18),
 (Decimal('23.0000000000000000'), 185),
 (Decimal('14.0000000000000000'), 64),
 (Decimal('13.0000000000000000'), 110),
 (Decimal('1.00000000000000000000'), 178),
 (Decimal('1.00000000000000000000'), 145),
 (Decimal('10.6666666666666667'), 55),
 (Decimal('1.00000000000000000000'), 148),
 (Decimal('2.0000000000000000'), 129),
 (Decimal('1.00000000000000000000'), 130),
 (Decimal('17.0000000000000000'), 27),
 (Decimal('1.00000000000000000000'), 143),
 (Decimal('11.2000000000000000'), 23),
 (Decimal('1.00000000000000000000'), 203),
 (Decimal('14.0000000000000000'), 58),
 (Decimal('8.0000000000000000'), 8),
 (Decimal('10.0000000000000000'), 116),
 (Decimal('10.0000000000000000'), 184),
 (Decimal('14.0000000000000000'), 87),
 (Decimal('12.0000000000000000'), 71),
 (Decimal('10.0000000000000000'), 68),
 (Decimal('14.0000000000000000'), 51),
 (Decimal('15.0000000000000000'), 70),
 (Decimal('13.0000000000000000'), 52),
 (Decimal('1.00000000000000000000'), 146),
 (Decimal('10.0000000000000000'), 80),
 (Decimal('1.00000000000000000000'), 190),
 (Decimal('1.00000000000000000000'), 162),
 (Decimal('1.00000000000000000000'), 132),
 (Decimal('11.0000000000000000'), 84),
 (Decimal('1.00000000000000000000'), 170),
 (Decimal('1.00000000000000000000'), 192),
 (Decimal('1.00000000000000000000'), 169),
 (Decimal('1.00000000000000000000'), 176),
 (Decimal('17.0000000000000000'), 92),
 (Decimal('14.0000000000000000'), 101),
 (Decimal('13.0000000000000000'), 69),
 (Decimal('1.00000000000000000000'), 180),
 (Decimal('17.0000000000000000'), 114),
 (Decimal('2.0000000000000000'), 115),
 (Decimal('14.0000000000000000'), 60),
 (Decimal('9.5000000000000000'), 97),
 (Decimal('19.0000000000000000'), 112),
 (Decimal('14.0000000000000000'), 108),
 (Decimal('17.0000000000000000'), 22),
 (Decimal('1.00000000000000000000'), 156),
 (Decimal('12.0000000000000000'), 59),
 (Decimal('2.0000000000000000'), 197),
 (Decimal('1.00000000000000000000'), 135),
 (Decimal('10.0000000000000000'), 65),
 (Decimal('1.00000000000000000000'), 127),
 (Decimal('1.00000000000000000000'), 124),
 (Decimal('18.0000000000000000'), 98),
 (Decimal('1.00000000000000000000'), 149),
 (Decimal('1.00000000000000000000'), 173),
 (Decimal('2.0000000000000000'), 200),
 (Decimal('14.5000000000000000'), 73),
 (Decimal('17.0000000000000000'), 11),
 (Decimal('13.0000000000000000'), 103),
 (Decimal('13.0000000000000000'), 44),
 (Decimal('14.0000000000000000'), 42),
 (Decimal('1.00000000000000000000'), 189),
 (Decimal('1.00000000000000000000'), 121),
 (Decimal('1.00000000000000000000'), 161),
 (Decimal('1.00000000000000000000'), 117),
 (Decimal('16.0000000000000000'), 88),
 (Decimal('9.0000000000000000'), 82),
 (Decimal('24.0000000000000000'), 188),
 (Decimal('1.00000000000000000000'), 125),
 (Decimal('19.0000000000000000'), 113),
 (Decimal('10.0000000000000000'), 119),
 (Decimal('9.0000000000000000'), 40),
 (Decimal('24.0000000000000000'), 43),
 (Decimal('1.00000000000000000000'), 153),
 (Decimal('1.00000000000000000000'), 147),
 (Decimal('1.00000000000000000000'), 202),
 (Decimal('9.0000000000000000'), 9),
 (Decimal('1.00000000000000000000'), 196),
 (Decimal('14.0000000000000000'), 120),
 (Decimal('34.0000000000000000'), 15),
 (Decimal('14.0000000000000000'), 79),
 (Decimal('10.5000000000000000'), 26),
 (Decimal('16.0000000000000000'), 48),
 (Decimal('17.6666666666666667'), 187),
 (Decimal('13.6666666666666667'), 85),
 (Decimal('17.0000000000000000'), 72),
 (Decimal('11.0000000000000000'), 95),
 (Decimal('17.0000000000000000'), 57),
 (Decimal('16.0000000000000000'), 61),
 (Decimal('13.4000000000000000'), 81),
 (Decimal('14.0000000000000000'), 19),
 (Decimal('2.0000000000000000'), 160),
 (Decimal('5.3333333333333333'), 77),
 (Decimal('1.00000000000000000000'), 172),
 (Decimal('14.0000000000000000'), 30),
 (Decimal('9.0000000000000000'), 21),
 (Decimal('1.00000000000000000000'), 131),
 (Decimal('12.0000000000000000'), 3),
 (Decimal('15.5000000000000000'), 17),
 (Decimal('2.0000000000000000'), 198),
 (Decimal('12.0000000000000000'), 28),
 (Decimal('20.0000000000000000'), 37),
 (Decimal('20.0000000000000000'), 104),
 (Decimal('8.0000000000000000'), 5),
 (Decimal('1.00000000000000000000'), 171),
 (Decimal('1.00000000000000000000'), 165),
 (Decimal('13.0000000000000000'), 56),
 (Decimal('1.00000000000000000000'), 151),
 (Decimal('17.0000000000000000'), 91),
 (Decimal('15.0000000000000000'), 74),
 (Decimal('1.00000000000000000000'), 179),
 (Decimal('20.0000000000000000'), 54),
 (Decimal('14.0000000000000000'), 29),
 (Decimal('15.5000000000000000'), 4),
 (Decimal('1.00000000000000000000'), 138),
 (Decimal('12.3333333333333333'), 34),
 (Decimal('9.0000000000000000'), 0),
 (Decimal('1.00000000000000000000'), 181),
 (Decimal('7.0000000000000000'), 96),
 (Decimal('18.0000000000000000'), 67),
 (Decimal('16.0000000000000000'), 83),
 (Decimal('1.00000000000000000000'), 201),
 (Decimal('57.0000000000000000'), 63),
 (Decimal('8.5000000000000000'), 10),
 (Decimal('11.5000000000000000'), 90),
 (Decimal('22.0000000000000000'), 35),
 (Decimal('15.0000000000000000'), 105),
 (Decimal('14.0000000000000000'), 45),
 (Decimal('1.00000000000000000000'), 174),
 (Decimal('13.3333333333333333'), 6),
 (Decimal('13.5000000000000000'), 107),
 (Decimal('1.00000000000000000000'), 134),
 (Decimal('10.0000000000000000'), 86),
 (Decimal('1.00000000000000000000'), 144),
 (Decimal('16.0000000000000000'), 39),
 (Decimal('1.00000000000000000000'), 163),
 (Decimal('1.00000000000000000000'), 168),
 (Decimal('14.0000000000000000'), 89),
 (Decimal('10.0000000000000000'), 93),
 (Decimal('15.0000000000000000'), 36),
 (Decimal('1.00000000000000000000'), 175),
 (Decimal('8.3636363636363636'), 31),
 (Decimal('12.0000000000000000'), 50),
 (Decimal('13.6666666666666667'), 102),
 (Decimal('1.00000000000000000000'), 167),
 (Decimal('10.5000000000000000'), 14),
 (Decimal('18.0000000000000000'), 66),
 (Decimal('13.0000000000000000'), 109),
 (Decimal('1.00000000000000000000'), 158),
 (Decimal('11.0000000000000000'), 13),
 (Decimal('1.00000000000000000000'), 155),
 (Decimal('12.0000000000000000'), 118),
 (Decimal('1.00000000000000000000'), 133),
 (Decimal('1.00000000000000000000'), 195),
 (Decimal('15.0000000000000000'), 111),
 (Decimal('13.0000000000000000'), 2),
 (Decimal('18.0000000000000000'), 16),
 (Decimal('15.5000000000000000'), 62),
 (Decimal('2.0000000000000000'), 199),
 (Decimal('14.0000000000000000'), 75),
 (Decimal('1.00000000000000000000'), 123),
 (Decimal('1.00000000000000000000'), 128),
 (Decimal('1.00000000000000000000'), 126),
 (Decimal('1.00000000000000000000'), 194),
 (Decimal('1.00000000000000000000'), 166),
 (Decimal('15.0000000000000000'), 99),
 (Decimal('1.00000000000000000000'), 142),
 (Decimal('1.00000000000000000000'), 152),
 (Decimal('13.0000000000000000'), 41),
 (Decimal('11.0000000000000000'), 46),
 (Decimal('1.00000000000000000000'), 157),
 (Decimal('9.0000000000000000'), 32),
 (Decimal('10.1428571428571429'), 53),
 (Decimal('12.0000000000000000'), 7)]

## List the top five customers in terms of tracks purchased.

In [4]:
top5 = 'SELECT count(track_id) as purchasecnt, may96c.invoice.CustomerId, FirstName, LastName FROM may96c.invoice_row JOIN may96c.invoice ON may96c.invoice_row.InvoiceId = may96c.invoice.InvoiceId JOIN customer on may96c.invoice.CustomerId = may96c.Invoice.CustomerId GROUP BY may96c.invoice.CustomerId, FirstName,LastName ORDER BY purchasecnt DESC LIMIT 5 ;'
cursor.execute(top5)
cursor.fetchall()

[(38, 18, 'Victor', 'Stevens'),
 (38, 51, 'Dominique', 'Lefebvre'),
 (38, 46, 'Aaron', 'Mitchell'),
 (38, 2, 'Johannes', 'Van der Berg'),
 (38, 52, 'Julia', 'Barnett')]

## List the top genre preference per customer.

In [5]:
topgenre = 'SELECT * FROM (SELECT RANK() OVER (PARTITION BY CustomerId ORDER BY totaled DESC) as COUNTRANK, genre_id, CustomerId FROM (SELECT Count(*) as totaled, genre_id, CustomerId FROM may96c.track JOIN may96c.invoice_row ON may96c.track.track_id = may96c.invoice_row.track_id JOIN may96c.invoice ON may96c.invoice_row.InvoiceId =may96c.invoice.InvoiceId GROUP BY CustomerId, genre_id) s ORDER BY CustomerId ) as q WHERE COUNTRANK = 1' 
cursor.execute(topgenre)
cursor.fetchall()

[(1, 0, 1),
 (1, 0, 2),
 (1, 2, 3),
 (1, 0, 4),
 (1, 0, 5),
 (1, 0, 6),
 (1, 0, 7),
 (1, 0, 8),
 (1, 0, 9),
 (1, 0, 10),
 (1, 6, 11),
 (1, 6, 12),
 (1, 0, 12),
 (1, 0, 13),
 (1, 0, 14),
 (1, 0, 15),
 (1, 2, 16),
 (1, 0, 17),
 (1, 0, 18),
 (1, 0, 19),
 (1, 6, 20),
 (1, 0, 21),
 (1, 2, 22),
 (1, 6, 23),
 (1, 0, 24),
 (1, 0, 25),
 (1, 0, 26),
 (1, 0, 27),
 (1, 0, 28),
 (1, 0, 29),
 (1, 0, 30),
 (1, 6, 31),
 (1, 6, 32),
 (1, 0, 33),
 (1, 0, 34),
 (1, 0, 35),
 (1, 2, 36),
 (1, 0, 37),
 (1, 0, 38),
 (1, 0, 39),
 (1, 0, 40),
 (1, 0, 41),
 (1, 2, 42),
 (1, 0, 43),
 (1, 0, 44),
 (1, 0, 45),
 (1, 0, 46),
 (1, 0, 47),
 (1, 0, 48),
 (1, 0, 49),
 (1, 0, 50),
 (1, 6, 51),
 (1, 6, 52),
 (1, 0, 53),
 (1, 0, 54),
 (1, 0, 55),
 (1, 3, 56),
 (1, 0, 56),
 (1, 0, 57),
 (1, 0, 58),
 (1, 0, 59)]

# Save your notebook, then `File > Close and Halt`