# Joins Practice Part 2


Please remember to use the `EXPLAIN` before you execute a query to help avoid unnecessary load on the DBMS and indefinite waits by you for results.

Therefore, for each question, we are providing a cell for the `EXPLAIN` as well as the final SQL.


## Our practice schema:

A PDF of the _Entity-Relationship Diagrams_ (ERD) is available [here](https://web.dsa.missouri.edu/static/PDF/DVD_Rental_ERD2.pdf).   
Printing it out is recommended.

In [ ]:
%load_ext sql
%sql postgres://dsa_ro_user:readonly@pgsql.dsa.lan/dvdrental

# 1

### List the Film Title (film.title) and language (language.name) for each film in the database.

In [ ]:
%%sql
EXPLAIN 
SELECT film.title, language.name
FROM film JOIN language
ON film.language_id = language.language_id;

In [ ]:
%%sql
SELECT film.title, language.name
FROM film JOIN language
ON film.language_id = language.language_id;

[Helpful Hints](https://youtu.be/698-QjC55i4)
 

--- 
# 2

### List each film and the name of actors in that film, in order of film title then actor last name.

In [ ]:
%%sql
EXPLAIN 
SELECT 
    film.title, 
    actor.first_name,
    actor.last_name
FROM film 
JOIN film_actor
    ON film.film_id = film_actor.film_id
JOIN actor ON film_actor.actor_id = actor.actor_id
ORDER BY film.title, actor.last_name;

In [ ]:
%%sql
SELECT 
    film.title, 
    actor.first_name,
    actor.last_name
FROM film 
JOIN film_actor
    ON film.film_id = film_actor.film_id
JOIN actor ON film_actor.actor_id = actor.actor_id
ORDER BY film.title, actor.last_name;

# 3

### List each customer's id, name, postal code, and phone number.

In [ ]:
%%sql
EXPLAIN 
SELECT 
    customer.customer_id, 
    customer.first_name,
    customer.last_name,
    address.postal_code,
    address.phone
FROM customer 
JOIN address
    ON customer.address_id = address.address_id;

In [ ]:
%%sql
SELECT 
    customer.customer_id, 
    customer.first_name,
    customer.last_name,
    address.postal_code,
    address.phone
FROM customer 
JOIN address
    ON customer.address_id = address.address_id;

# 4

### List the film title with the customer name who rented the film, in order of film title.

In [ ]:
%%sql
EXPLAIN 
SELECT 
    film.title,
    customer.first_name,
    customer.last_name
FROM customer 
JOIN rental
    ON customer.customer_id = rental_id
JOIN inventory ON rental.inventory_id = inventory.inventory_id
JOIN film ON film.film_id = inventory.film_id
ORDER BY film.title;

In [ ]:
%%sql
SELECT 
    film.title,
    customer.first_name,
    customer.last_name
FROM customer 
JOIN rental
    ON customer.customer_id = rental_id
JOIN inventory ON rental.inventory_id = inventory.inventory_id
JOIN film ON film.film_id = inventory.film_id
ORDER BY film.title;

[Helpful Hints](https://youtu.be/xG4-iBWGDdE)
 

--- 

# 5

### List a unique (`DISTINCT`) set of film titles with the staff last name who rented out the film.

In [ ]:
%%sql
EXPLAIN 
SELECT DISTINCT
    film.title,
    staff.last_name
FROM staff 
JOIN rental
    ON staff.staff_id = rental.staff_id
JOIN inventory ON rental.inventory_id = inventory.inventory_id
JOIN film ON film.film_id = inventory.film_id
ORDER BY film.title;

In [ ]:
%%sql
SELECT DISTINCT
    film.title,
    staff.last_name
FROM staff 
JOIN rental
    ON staff.staff_id = rental.staff_id
JOIN inventory ON rental.inventory_id = inventory.inventory_id
JOIN film ON film.film_id = inventory.film_id
ORDER BY film.title;

# Save your Notebook, then `File > Close and Halt`

---