# Joins Practice Part 1

## Connecting to PostgreSQL 

We will connect to a postgreSQL database using the following notebook commands:

In [ ]:
%load_ext sql
%sql postgres://dsa_ro_user:readonly@pgsql.dsa.lan/dsa_ro

## Full Joins

As seen in the practice a FULL JOIN returns all the rows from the joined tables, whether they are matched or not i.e. you can say a full join combines the functions of a LEFT JOIN and a RIGHT JOIN . Full join is a type of outer join that's why it is also referred as full outer join.

## <span style="background:yellow">Your Turn</span>

1. Write a Explain and Query Plan Preview for a select statement that joins the tables "us_second_order_divisions" and "util_us_states", then shows the `state_name` and `county_name`.
1. Execute the `SELECT` statement that joins the tables "us_second_order_divisions" and "util_us_states", then shows the `state_name` and `county_name`.

In [ ]:
%%sql 
EXPLAIN
SELECT CHANGEME 
FROM us_second_order_divisions AS sod 
FULL JOIN util_us_states AS uus 
  ON sod.state_number_code = uus.state_number_code;

In [ ]:
%%sql 
SELECT CHANGEME 
FROM us_second_order_divisions AS sod 
FULL JOIN util_us_states AS uus 
  ON sod.state_number_code = uus.state_number_code;

## Viewing New Data Sets

For this next part we will be using two new tables in the database. 
We will be using the `customers` table and the `orders` table.

Again, we examine these tables to determine where they overlap and with which attributes, we can join the two tables. 

Describing the tables in the PostgreSQL database:

```SQL
dsa_ro=> \d orders
       Table "public.orders"
   Column    |  Type   | Modifiers 
-------------+---------+-----------
 order_id    | integer | 
 customer_id | integer | 
 employee_id | integer | 
 order_price | integer | 

dsa_ro=> \d customers
             Table "public.customers"
    Column     |         Type          | Modifiers 
---------------+-----------------------+-----------
 customer_id   | integer               | 
 customer_name | character varying(32) | 
 contact_name  | character varying(32) | 
 address       | character varying(64) | 
 city          | character varying(16) | 
 zipcode       | integer               | 
 country       | character varying(16) | 

```

## <span style="background:yellow">Your Turn</span>

Take some time to use what you learned to query these tables and see what all of the data is and how it is all related.
 
Look at the first 5 rows in the `orders`

In [ ]:
%%sql

Look at the first 5 rows in the `customers`

In [ ]:
%%sql

We can see that the `customer_id` column in each table is likely the same.  

This is just another way to determine what is similar between the tables. 


## Inner Join 

The INNER JOIN selects all rows from both participating tables as long as there is a match between the columns. An SQL INNER JOIN is same as JOIN clause, combining rows from two or more tables. An inner join of A and B gives the result of A intersect B

## <span style="background:yellow">Your Turn</span>

Write a SELECT statement that displays all of the customers' names and zip codes that have placed an order

In [ ]:
%%sql

## Left Join

LEFT JOIN, also called LEFT OUTER JOIN, returns all records from the left (first) table and the matched records from the right (second) table. If there is no match for a specific record, youâ€™ll get NULLs in the corresponding columns of the right table.

## <span style="background:yellow">Your Turn</span>

  Write a SELECT statement to display all customer names along with the price of their orders, if they have one
  
  
* Make sure to use a left join

In [ ]:
%%sql

Write a SELECT statement to display all order ids and order prices, along with zip code and country from which they were made, if there is one
* Make sure to use a left join

In [ ]:
%%sql

## Right Join

RIGHT JOIN is similar to LEFT JOIN. This join returns all the rows of the table on the right side of the join and matching rows for the table on the left side of join. The rows for which there is no matching row on left side, the result-set will contain null. RIGHT JOIN is also known as RIGHT OUTER JOIN.

## <span style="background:yellow">Your Turn</span>

Write a SELECT statement to display customer names and order ids for all orders, even if there is no customer associated with an order


* Make sure to use a right join

In [ ]:
%%sql

Change your statement from the previous step to display customer names and order ids for all customers, even if there is no order associated with a customer
* Make sure to use a right join

In [ ]:
%%sql

## Outer Join

An outer join is used to return results by combining rows from two or more tables.  But unlike an inner join, the outer join will return every row from one specified table, even if the join condition fails.

## <span style="background:yellow">Your Turn</span>

   Write a SELECT statement to show the customer names, order ids, and price of all orders and customers

In [ ]:
%%sql

Write a query to display contact name, country, customer id, and employee id for all customers and orders.

In [ ]:
%%sql

# Save your Notebook, then `File > Close and Halt`

---