# Joins Practice Part 1


Please remember to use the `EXPLAIN` before you execute a query to help avoid unnecessary load on the DBMS and indefinite waits by you for results.

Therefore, for each question, we are providing a cell for the `EXPLAIN` as well as the final SQL.


## Our practice schema:

We will use the same database as in the Day 1 practice.

A PDF of the _Entity-Relationship Diagrams_ (ERD) is available [here](/static/PDF/DVD_Rental_ERD2.pdf).   
Printing it out is recommended.

In [ ]:
%load_ext sql
%sql postgres://dsa_ro_user:readonly@pgsql.dsa.lan/dvdrental

# 1

### List the Film Title (film.title) and lanuage (language.name) for each film in the database.

In [ ]:
%%sql
EXPLAIN

In [ ]:
%%sql


--- 
# 2

### List each film and the name of actors in that film, in order of film title then actor last name.

In [ ]:
%%sql
EXPLAIN

In [ ]:
%%sql

# 3

### List each customer's id, name, postal code, and phone number.

In [ ]:
%%sql
EXPLAIN

In [ ]:
%%sql

# 4

### List the film title with the customer name who rented out the film, in order of film title.

In [ ]:
%%sql
EXPLAIN

In [ ]:
%%sql

In [ ]:
%%sql
EXPLAIN


--- 

# 5

### List a unique (`DISTINCT`) set of film title with the staff last name who rented out the film.

In [ ]:
%%sql

# SAVE YOUR NOTEBOOK, then `File > Close and Halt`