# Advanced Aggregation Functions

Many DBMS provide more advanced aggregation functions.

In [ ]:
%load_ext sql
%sql postgres://dsa_ro_user:readonly@pgsql.dsa.lan/dsa_ro

For these functions we are going to look at a table of data with housing sales data.

```SQL
dsa_ro=# \d houses
                             Table "public.houses"
    Column     |  Type   |                      Modifiers                      
---------------+---------+-----------------------------------------------------
 id            | integer | not null default nextval('houses_id_seq'::regclass)
 date          | text    | 
 price         | real    | 
 bedrooms      | integer | 
 bathrooms     | real    | 
 sqft_living   | integer | 
 sqft_lot      | integer | 
 floors        | real    | 
 waterfront    | integer | 
 view          | integer | 
 condition     | integer | 
 grade         | integer | 
 sqft_above    | integer | 
 sqft_basement | integer | 
 yr_built      | integer | 
 yr_renovated  | integer | 
 zipcode       | integer | 
 lat           | real    | 
 long          | real    | 
 sqft_living15 | integer | 
 sqft_lot15    | integer | 
Indexes:
    "houses_pkey" PRIMARY KEY, btree (id)


dsa_ro=# select count(*) from houses;
 count 
-------
 21613
(1 row)

```

## <span style="background:yellow">Your Turn</span>

Write a query to find the average, variance, and standard deviation on the number of bedrooms

In [ ]:
%%sql
SELECT AVG(bedrooms), VARIANCE(bedrooms), STDDEV(bedrooms)
FROM houses;

Write a query to find the covariance and correlation between the year of renovation and number of bathrooms

In [ ]:
%%sql
SELECT covar_pop(yr_renovated, bathrooms), corr(yr_renovated,bathrooms)
FROM houses;

# Save your notenbook, then `File > Close and Halt`