# Window Functions


## Example Database

We will use the `houses` table from the readonly database.

```SQL
dsa_ro=> \d houses
                             Table "public.houses"
    Column     |  Type   |                      Modifiers                      
---------------+---------+-----------------------------------------------------
 id            | integer | not null default nextval('houses_id_seq'::regclass)
 date          | text    | 
 price         | real    | 
 bedrooms      | integer | 
 bathrooms     | real    | 
 sqft_living   | integer | 
 sqft_lot      | integer | 
 floors        | real    | 
 waterfront    | integer | 
 view          | integer | 
 condition     | integer | 
 grade         | integer | 
 sqft_above    | integer | 
 sqft_basement | integer | 
 yr_built      | integer | 
 yr_renovated  | integer | 
 zipcode       | integer | 
 lat           | real    | 
 long          | real    | 
 sqft_living15 | integer | 
 sqft_lot15    | integer | 
Indexes:
    "houses_pkey" PRIMARY KEY, btree (id)

dsa_ro=> SELECT count(*), grade FROM houses GROUP BY grade ORDER BY 2;
 count | grade 
-------+-------
     1 |     1
     3 |     3
    29 |     4
   242 |     5
  2038 |     6
  8981 |     7
  6068 |     8
  2615 |     9
  1134 |    10
   399 |    11
    90 |    12
    13 |    13
(12 rows)
```

In [ ]:
%load_ext sql
%sql postgres://dsa_ro_user:readonly@pgsql.dsa.lan/dsa_ro

## <span style="background:yellow">Your Turn</span>
<b>Use window functions to perform the following:</b>
<br>Find the id, number of bedrooms, grade, and average number of bedrooms per grade  for the first 100 houses

In [ ]:
%%sql
SELECT id, bedrooms, grade, AVG(bedrooms) OVER (PARTITION BY grade)
FROM houses LIMIT 100;

Find the id, price, grade, highest price per grade, and lowest price per grade  for the first 100 houses

In [ ]:
%%sql
SELECT id, price, grade,
  MAX(price) OVER (PARTITION BY grade),
  MIN(price) OVER (PARTITION BY grade)
FROM houses LIMIT 100;

## <span style="background:yellow">Your Turn</span>

Write a query displaying the id, grade, price, average price per grade, and average number of bedrooms per grade for grades 1-3

In [ ]:
%%sql
SELECT id, grade, price, 
  AVG(price) OVER (PARTITION BY grade), 
  AVG(bedrooms) OVER(PARTITION BY grade)
FROM houses
WHERE grade BETWEEN 1 AND 3;

Write a query displaying the row number, price, and the average price for grades 4 and 5

In [ ]:
%%sql
SELECT
  row_number() OVER (PARTITION BY grade),
  price,
  AVG(price) OVER (PARTITION BY grade)
FROM houses
WHERE grade IN (4,5)

# Save your notebook, then `File > Close and Halt`