# Creating and Loading Survey Data

## 1. Review File

 [survey.db.sql](./survey.db.sql)
 
 #### Edit file to add your pawprint in front to configure the schema.
 1. Use the folder view of Jupyter to navigate to module2/exercises
 2. Click to open the file.
 3. Use the file menu to save the file.


## 2. Use terminal to access your personal schema in `dsa_student` to run the file

#### Hints:
1. Use the *change directory*, `cd`, command to navigate to this folder in Jupyter Terminal
2. Connect to the database
3. "Run the SQL file"

## 3. Copy in the terminal output / results from running the file

#################################################
## Paste output from Task #3 Below this comment ## 
#################################################


dsa_student=> \i survey.db.sql
BEGIN
CREATE TABLE
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
CREATE TABLE
INSERT 0 1
INSERT 0 1
INSERT 0 1
CREATE TABLE
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
CREATE TABLE
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
COMMIT

## 4. Describe the tables using PostgreSQL commands and paste the output below.

#################################################
## Paste output from Task #4 Below this comment ## 
#################################################

dsa_student=> \d Person
              Table "may96c.person"
  Column  | Type | Collation | Nullable | Default
----------+------+-----------+----------+---------
 id       | text |           |          |
 personal | text |           |          |
 family   | text |           |          |

dsa_student=> \d Site
              Table "may96c.site"
 Column | Type | Collation | Nullable | Default
--------+------+-----------+----------+---------
 name   | text |           |          |
 lat    | real |           |          |
 long   | real |           |          |

dsa_student=> \d Visited
             Table "may96c.visited"
 Column | Type | Collation | Nullable | Default
--------+------+-----------+----------+---------
 id     | text |           |          |
 site   | text |           |          |
 dated  | text |           |          |

dsa_student=> \d Survey
               Table "may96c.survey"
 Column  |  Type   | Collation | Nullable | Default
---------+---------+-----------+----------+---------
 taken   | integer |           |          |
 person  | text    |           |          |
 quant   | text    |           |          |
 reading | real    |           |          |

dsa_student=>

# 5. Write / Copy one of the queries from the prior module related to this data, adapted to this database and the schema-specified table names.

### Paste the Query and the Reset in the two cells below.

#################################################
## Paste Query for Task #5 Below this comment  ## 
#################################################


dsa_student=> SELECT * FROM may96c.Person WHERE id LIKE '%a%' ;

#################################################
## Paste Result for Task #5 Below this comment ## 
#################################################
    id    | personal |  family
----------+----------+----------
 lake     | Anderson | Lake
 danforth | Frank    | Danforth
(2 rows)

----
# Save your notebook, then `File > Close and Halt`