# Nested Table Expressions

**A third type of Nested query!**


Recall the Nested Table Expression (aka Derived Table) 

A quick refresh a derived table is an expression that generates a table within the scope of a query FROM clause. Therefore, a Nested Table Expression is the specification of a subquery in the FROM clause of an SQL SELECT statement. 

```SQL
SELECT <col_list_a>
FROM (
    SELECT <col_list_b>
    FROM <table_expressions_list>
    WHERE ... 
    ) as <derived_table_alias>
WHERE <row_constraints>
```

... also our examples.

** Example** from our DVD Rental database.

How many movies have been rented more than four times?

```SQL
SELECT COUNT(*) 
FROM (
    SELECT inventory_id, COUNT(*) 
    FROM rental 
    GROUP BY inventory_id 
    HAVING COUNT(*) > 4
    ) as rent_counts;

 count 
-------
  1139
(1 row)
```

Or, the actual Movie names?

```SQL
SELECT i.film_id, f.title 
FROM film f 
JOIN inventory as i USING (film_id) 
NATURAL JOIN (
    SELECT inventory_id, COUNT(*) 
    FROM rental 
    GROUP BY inventory_id 
    HAVING COUNT(*) > 4
    ) as rent_counts;
```

In [ ]:
%load_ext sql
%sql postgres://dsa_ro_user:readonly@pgsql.dsa.lan/dvdrental

## Use-Case: Multilevel Aggregation

A typical use of the subquery table expression is the multilevel aggregation.
Structurally, we have a nested query with an aggregation, then we compute aggregates over that sub-query or use it to constrain the data in some other way.

```SQL
SELECT <aggr_f2(alias.aggr_col)>
FROM (
    SELECT <aggr_f1()> as aggr_col
    FROM ... 
    ) as <alias>
```

### Example 1

In the example below we are generating a table expression of `inventory_id, count` where `count > 4`.
From that intermediate result, we are counting the rows.

In [ ]:
%%sql
EXPLAIN ANALYZE
SELECT COUNT(*) 
FROM (
    SELECT inventory_id, COUNT(*) 
    FROM rental 
    GROUP BY inventory_id 
    HAVING COUNT(*) > 4
    ) as rent_counts;

In [ ]:
%%sql
SELECT COUNT(*) 
FROM (
    SELECT inventory_id, COUNT(*) 
    FROM rental 
    GROUP BY inventory_id 
    HAVING COUNT(*) > 4
    ) as rent_counts;

Notice in the above query, we must supply a table alias to the derived table.

### Example 2

These queries can become more complex, involving a mix of traditional tables and table expressions.

In [ ]:
%%sql
EXPLAIN ANALYZE
SELECT i.film_id, f.title 
FROM film f 
JOIN inventory as i USING (film_id) 
NATURAL JOIN (
    SELECT inventory_id, COUNT(*) 
    FROM rental 
    GROUP BY inventory_id 
    HAVING COUNT(*) > 4
    ) as rent_counts;

In [ ]:
%%sql
SELECT i.film_id, f.title 
FROM film f 
JOIN inventory as i USING (film_id) 
NATURAL JOIN (
    SELECT inventory_id, COUNT(*) 
    FROM rental 
    GROUP BY inventory_id 
    HAVING COUNT(*) > 4
    ) as rent_counts;

### Example 3

What is the average rental time and number of rentals for the renters that have checked our more than 200 days' worth of films?

In [ ]:
%%sql
EXPLAIN
SELECT AVG(top_renters.rental_time), AVG(top_renters.cnt)
FROM customer c 
INNER JOIN (
        SELECT customer_id
        , SUM(return_date - rental_date) as rental_time
        , COUNT(*) as cnt
        FROM rental 
        GROUP BY customer_id 
        HAVING SUM(return_date - rental_date) > '200 days'::interval
    ) as top_renters
USING (customer_id)
;

In [ ]:
%%sql

SELECT AVG(top_renters.rental_time), AVG(top_renters.cnt)
FROM customer c 
INNER JOIN (
        SELECT customer_id
        , SUM(return_date - rental_date) as rental_time
        , COUNT(*) as cnt
        FROM rental 
        GROUP BY customer_id 
        HAVING SUM(return_date - rental_date) > '200 days'::interval
    ) as top_renters
USING (customer_id)
;

# Save your Notebook, then `File > Close and Halt`