# Basic Statistics Practice

Please remember to use the `EXPLAIN` before you execute a query to help avoid unnecessary load on the DBMS and indefinite waits by you for results.

Therefore, for each question, we are providing a cell for the `EXPLAIN` as well as the final SQL.


## Our practice schema:

A PDF of the _Entity-Relationship Diagrams_ (ERD) is available [here](https://web.dsa.missouri.edu/static/PDF/DVD_Rental_ERD2.pdf).   
Printing it out is recommended.

In [ ]:
%load_ext sql
%sql postgres://dsa_ro_user:readonly@pgsql.dsa.lan/dvdrental

# 1

### List the average length of the movies (film.length) in the database.

In [ ]:
%%sql
EXPLAIN

In [ ]:
%%sql

[Helpful Hints](https://youtu.be/yMrP0cr_rqo)  
 

--- 

# 2

### List the number of rows in the payment table.

In [ ]:
%%sql
EXPLAIN

In [ ]:
%%sql

# 3

### List each category (`category.name`) and the number of films in that category.

In [ ]:
%%sql
EXPLAIN

In [ ]:
%%sql

[Helpful Hints](https://youtu.be/YRMI8myh9WY)  
 

--- 

# 4

### List each film title and the number of actors in that film.

In [ ]:
%%sql
EXPLAIN

In [ ]:
%%sql

# 5

### List each film title and the number of actors in that film, for films with more than 10 actors.

In [ ]:
%%sql
EXPLAIN

In [ ]:
%%sql

[Helpful Hints](https://youtu.be/4dZJoRfP7Kw)  
 

--- 

# 6

### List the average length of the movies in the database, per `language_id`

In [ ]:
%%sql
EXPLAIN

In [ ]:
%%sql

# 7

### List the average length of the movies in the database, per language name

In [ ]:
%%sql
EXPLAIN

In [ ]:
%%sql

# 8

### List each film title and its average rental duration in days.

**HINT** `return_date::date` casts the return _timestamp_ to date.  PostgreSQL can do date math natively.

In [ ]:
%%sql
EXPLAIN

In [ ]:
%%sql

# 9

### List the film title and the number of times it has been rented in each city (name and country).

In [ ]:
%%sql
EXPLAIN

In [ ]:
%%sql

# 10

### List the film title, number of times it has been rented, and the most recent rental date, in order of least recently rented, then most rentals.

In [ ]:
%%sql
EXPLAIN

In [ ]:
%%sql

# Save your Notebook, then `File > Close and Halt`

---