# Joins Exercise


Please remember to use the `EXPLAIN` before you execute a query to help avoid unnecessary load on the DBMS and indefinite waits by you for results.

Therefore, for each question, we are providing a cell for the `EXPLAIN` as well as the final SQL.


## Our practice schema:

We will use the same database as we used in join practice part 2 [practice](../practices/JoinsPt2.ipynb).

A PDF of the _Entity-Relationship Diagrams_ (ERD) is available [here](https://web.dsa.missouri.edu/static/PDF/DVD_Rental_ERD2.pdf).   
Printing it out is recommended.

In [1]:
%load_ext sql
%sql postgres://dsa_ro_user:readonly@pgsql.dsa.lan/dvdrental

'Connected: dsa_ro_user@dvdrental'

# 1

### List the category name with actors who have been in films in that category, in order of category name and actor last name.

In [ ]:
%%sql
EXPLAIN

In [ ]:
%%sql

# 2

### List the category name, language name, and actors who have been in films in that category, in order of category name and actor last name.

In [ ]:
%%sql
EXPLAIN

In [ ]:
%%sql

[Helpful Hints](https://youtu.be/Kvj04-g4yRs)  
 

--- 

# 3

### List the customer name, customer address, film rented, rental date, and duration of rental, in order of longest rental to shortest.

**HINT**: PostgreSQL can do math on _timestamps_ natively.

In [ ]:
%%sql
EXPLAIN

In [ ]:
%%sql

# 4

### List the staff name, customer name, film rented, rental date, and duration of rental, showing only the 20 longest rentals.

In [ ]:
%%sql
EXPLAIN

In [ ]:
%%sql

# Save your Notebook, then `File > Close and Halt`

---