# Advanced Aggregates

Please remember to use the `EXPLAIN` before you execute a query to help avoid unnecessary load on the DBMS and indefinite waits by you for results.

Therefore, for each question, we are providing a cell for the `EXPLAIN` as well as the final SQL.


## Our practice schema:

We will use the DVD Rental database.

A PDF of the _Entity-Relationship Diagrams_ (ERD) is available [here](https://web.dsa.missouri.edu/static/PDF/DVD_Rental_ERD2.pdf).   
Printing it out is recommended.


**NOTE**: These queries are more complex that the others.
If you get stuck on one, skip and come back to it later.

**NOTE**: For this notebook, it is desired that you construct solutions using advanced aggregates and derived tables.

In [1]:
%load_ext sql
%sql postgres://dsa_ro_user:readonly@pgsql.dsa.lan/dvdrental

'Connected: dsa_ro_user@dvdrental'

### 1
### What is the average, variance, and standard deviation of the film length?

In [2]:
%%sql
EXPLAIN
SELECT AVG(length), VARIANCE(length), STDDEV(length)
FROM film

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
2 rows affected.

[('Aggregate  (cost=71.51..71.52 rows=1 width=96)',),
 ('  ->  Seq Scan on film  (cost=0.00..64.00 rows=1000 width=2)',)]

In [4]:
%%sql

SELECT AVG(length), VARIANCE(length), STDDEV(length)
FROM film

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
1 rows affected.

[(Decimal('115.2720000000000000'), Decimal('1634.2883043043043043'), Decimal('40.4263318185598470'))]

### 2
### What is the average, variance, and standard deviation of the film length; broken down by film category.

In [7]:
%%sql
EXPLAIN

SELECT  DISTINCT name, AVG(length), VARIANCE(length), STDDEV(length)
FROM category as C JOIN film_category as fc ON c.category_id = fc.category_id
JOIN film as f ON fc.film_id = f.film_id
GROUP BY c.name

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
14 rows affected.

[('Unique  (cost=110.41..110.61 rows=16 width=232)',),
 ('  ->  Sort  (cost=110.41..110.45 rows=16 width=232)',),
 ('        Sort Key: c.name, (avg(f.length)), (variance(f.length)), (stddev(f.length))',),
 ('        ->  HashAggregate  (cost=109.81..110.09 rows=16 width=232)',),
 ('              Group Key: c.name',),
 ('              ->  Hash Join  (cost=77.86..99.81 rows=1000 width=70)',),
 ('                    Hash Cond: (fc.film_id = f.film_id)',),
 ('                    ->  Hash Join  (cost=1.36..20.67 rows=1000 width=70)',),
 ('                          Hash Cond: (fc.category_id = c.category_id)',),
 ('                          ->  Seq Scan on film_category fc  (cost=0.00..16.00 rows=1000 width=4)',),
 ('                          ->  Hash  (cost=1.16..1.16 rows=16 width=72)',),
 ('                                ->  Seq Scan on category c  (cost=0.00..1.16 rows=16 width=72)',),
 ('                    ->  Hash  (cost=64.00..64.00 rows=1000 width=6)',),
 ('                          ->  Seq Scan on film f  (cost=0.00..64.00 rows=1000 width=6)',)]

In [8]:
%%sql

SELECT  DISTINCT name, AVG(length), VARIANCE(length), STDDEV(length)
FROM category as C JOIN film_category as fc ON c.category_id = fc.category_id
JOIN film as f ON fc.film_id = f.film_id
GROUP BY c.name

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
16 rows affected.

[('Action', Decimal('111.6093750000000000'), Decimal('1848.3687996031746032'), Decimal('42.9926598340132313')),
 ('Animation', Decimal('111.0151515151515152'), Decimal('1723.0920745920745921'), Decimal('41.5101442371870661')),
 ('Children', Decimal('109.8000000000000000'), Decimal('1500.9084745762711864'), Decimal('38.7415600431406374')),
 ('Classics', Decimal('111.6666666666666667'), Decimal('1475.2261904761904762'), Decimal('38.4086733756347080')),
 ('Comedy', Decimal('115.8275862068965517'), Decimal('1781.3381730187537810'), Decimal('42.2059021111829072')),
 ('Documentary', Decimal('108.7500000000000000'), Decimal('1814.6679104477611940'), Decimal('42.5989191229984284')),
 ('Drama', Decimal('120.8387096774193548'), Decimal('1658.3997884717080910'), Decimal('40.7234550163871544')),
 ('Family', Decimal('114.7826086956521739'), Decimal('1523.2314578005115090'), Decimal('39.0285979481778401')),
 ('Foreign', Decimal('121.6986301369863014'), Decimal('1861.9079147640791476'), Decimal('43.1498309934590491')),
 ('Games', Decimal('127.8360655737704918'), Decimal('1262.4726775956284153'), Decimal('35.5312915272668975')),
 ('Horror', Decimal('112.4821428571428571'), Decimal('1388.6905844155844156'), Decimal('37.2651389963271761')),
 ('Music', Decimal('113.6470588235294118'), Decimal('1787.3129411764705882'), Decimal('42.2766240513178936')),
 ('New', Decimal('111.1269841269841270'), Decimal('1514.7900665642601126'), Decimal('38.9203040399771301')),
 ('Sci-Fi', Decimal('108.1967213114754098'), Decimal('1315.6273224043715847'), Decimal('36.2715773354891693')),
 ('Sports', Decimal('128.2027027027027027'), Decimal('1796.4651980747871159'), Decimal('42.3847283591010775')),
 ('Travel', Decimal('113.3157894736842105'), Decimal('1540.1842105263157895'), Decimal('39.2451807299484326'))]

[Helpful Hints Video](https://youtu.be/jy9H2KLI4Iw)

### 3
### A movie's "cumulative rented duration" is the sum of all rentals from rental table.  What is the average _cumulative rented duration_ per store (inventory.store_id).

In [9]:
%%sql
EXPLAIN

SELECT film_id, SUM(rental_id) as cumulative_rented_duration, store_id
FROM inventory as i JOIN rental as r ON i.inventory_id = r.inventory_id
GROUP BY film_id, store_id

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
7 rows affected.

[('HashAggregate  (cost=601.00..610.58 rows=958 width=12)',),
 ('  Group Key: i.film_id, i.store_id',),
 ('  ->  Hash Join  (cost=128.07..480.67 rows=16044 width=8)',),
 ('        Hash Cond: (r.inventory_id = i.inventory_id)',),
 ('        ->  Seq Scan on rental r  (cost=0.00..310.44 rows=16044 width=8)',),
 ('        ->  Hash  (cost=70.81..70.81 rows=4581 width=8)',),
 ('              ->  Seq Scan on inventory i  (cost=0.00..70.81 rows=4581 width=8)',)]

In [14]:
%%sql

SELECT film_id, SUM(rental_id) as cumulative_rented_duration, store_id
FROM inventory as i JOIN rental as r ON i.inventory_id = r.inventory_id
GROUP BY film_id, store_id
ORDER BY store_id, film_id

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
1521 rows affected.

[(1, 114242, 1),
 (4, 110300, 1),
 (6, 80480, 1),
 (7, 59551, 1),
 (9, 83550, 1),
 (10, 106642, 1),
 (11, 108801, 1),
 (12, 80121, 1),
 (15, 67355, 1),
 (16, 56254, 1),
 (17, 75138, 1),
 (18, 88957, 1),
 (19, 111509, 1),
 (20, 80477, 1),
 (21, 66189, 1),
 (22, 113110, 1),
 (23, 72318, 1),
 (24, 115812, 1),
 (25, 114603, 1),
 (26, 66768, 1),
 (27, 109973, 1),
 (28, 97112, 1),
 (29, 60901, 1),
 (30, 60119, 1),
 (31, 116759, 1),
 (35, 111536, 1),
 (37, 113172, 1),
 (39, 73615, 1),
 (43, 88035, 1),
 (44, 60298, 1),
 (45, 119526, 1),
 (48, 57246, 1),
 (49, 79753, 1),
 (50, 82984, 1),
 (51, 57637, 1),
 (53, 62025, 1),
 (54, 92415, 1),
 (55, 129237, 1),
 (56, 84980, 1),
 (57, 96839, 1),
 (59, 96510, 1),
 (60, 81723, 1),
 (61, 110892, 1),
 (63, 57254, 1),
 (66, 86000, 1),
 (67, 51769, 1),
 (68, 56248, 1),
 (69, 98742, 1),
 (70, 67451, 1),
 (72, 115935, 1),
 (73, 111802, 1),
 (74, 67168, 1),
 (76, 77189, 1),
 (77, 106871, 1),
 (78, 94056, 1),
 (79, 81672, 1),
 (80, 102914, 1),
 (81, 115136, 1),
 (82, 60306, 1),
 (83, 87608, 1),
 (84, 112194, 1),
 (86, 110262, 1),
 (89, 79771, 1),
 (90, 80477, 1),
 (91, 103754, 1),
 (92, 46963, 1),
 (94, 53055, 1),
 (95, 56070, 1),
 (96, 86342, 1),
 (97, 103309, 1),
 (98, 93686, 1),
 (99, 88064, 1),
 (100, 111770, 1),
 (101, 114970, 1),
 (103, 124925, 1),
 (105, 55529, 1),
 (106, 56719, 1),
 (109, 113578, 1),
 (110, 117309, 1),
 (112, 110529, 1),
 (114, 121695, 1),
 (115, 71405, 1),
 (116, 51618, 1),
 (117, 104996, 1),
 (118, 118462, 1),
 (119, 78232, 1),
 (120, 72157, 1),
 (121, 76886, 1),
 (122, 124850, 1),
 (123, 46381, 1),
 (127, 115173, 1),
 (129, 80267, 1),
 (130, 57503, 1),
 (131, 111120, 1),
 (132, 100222, 1),
 (133, 50390, 1),
 (135, 89140, 1),
 (136, 75437, 1),
 (138, 59221, 1),
 (139, 113598, 1),
 (140, 59294, 1),
 (141, 81925, 1),
 (142, 91330, 1),
 (143, 107410, 1),
 (146, 82690, 1),
 (147, 85193, 1),
 (149, 87184, 1),
 (150, 48380, 1),
 (151, 56532, 1),
 (152, 118413, 1),
 (153, 114102, 1),
 (154, 81038, 1),
 (155, 50940, 1),
 (158, 59671, 1),
 (159, 119512, 1),
 (160, 62374, 1),
 (161, 53497, 1),
 (162, 94625, 1),
 (164, 58281, 1),
 (165, 84622, 1),
 (166, 117720, 1),
 (167, 108697, 1),
 (168, 53176, 1),
 (169, 53022, 1),
 (170, 48498, 1),
 (172, 123361, 1),
 (173, 64564, 1),
 (174, 113647, 1),
 (175, 56247, 1),
 (176, 61578, 1),
 (178, 51366, 1),
 (179, 113249, 1),
 (181, 82820, 1),
 (182, 55496, 1),
 (183, 80947, 1),
 (184, 51219, 1),
 (185, 55997, 1),
 (186, 60420, 1),
 (188, 87140, 1),
 (189, 51609, 1),
 (191, 82845, 1),
 (193, 107931, 1),
 (194, 57820, 1),
 (196, 58410, 1),
 (197, 58918, 1),
 (199, 109608, 1),
 (200, 112871, 1),
 (201, 123483, 1),
 (202, 89593, 1),
 (204, 105556, 1),
 (205, 121364, 1),
 (206, 107095, 1),
 (207, 105712, 1),
 (208, 71178, 1),
 (209, 111676, 1),
 (211, 63673, 1),
 (212, 87522, 1),
 (213, 111808, 1),
 (215, 88023, 1),
 (216, 50206, 1),
 (218, 98057, 1),
 (219, 110645, 1),
 (220, 109463, 1),
 (222, 57527, 1),
 (224, 55876, 1),
 (225, 76048, 1),
 (226, 56295, 1),
 (227, 83914, 1),
 (228, 74987, 1),
 (229, 57584, 1),
 (230, 63263, 1),
 (231, 102683, 1),
 (232, 78034, 1),
 (233, 113262, 1),
 (234, 112587, 1),
 (235, 61643, 1),
 (237, 50836, 1),
 (238, 57067, 1),
 (239, 114998, 1),
 (241, 110397, 1),
 (242, 58569, 1),
 (243, 56928, 1),
 (244, 112876, 1),
 (245, 83436, 1),
 (247, 88151, 1),
 (249, 67458, 1),
 (251, 54715, 1),
 (252, 83224, 1),
 (253, 113566, 1),
 (254, 51096, 1),
 (255, 111414, 1),
 (259, 58297, 1),
 (261, 57976, 1),
 (263, 104578, 1),
 (265, 119554, 1),
 (266, 110179, 1),
 (267, 126365, 1),
 (269, 53817, 1),
 (270, 91591, 1),
 (271, 89883, 1),
 (272, 114121, 1),
 (273, 109855, 1),
 (274, 76107, 1),
 (275, 88585, 1),
 (276, 100073, 1),
 (277, 89500, 1),
 (278, 50818, 1),
 (279, 59188, 1),
 (280, 96959, 1),
 (281, 58438, 1),
 (282, 87029, 1),
 (283, 81974, 1),
 (284, 85612, 1),
 (285, 87978, 1),
 (286, 54622, 1),
 (287, 55849, 1),
 (288, 59137, 1),
 (289, 56662, 1),
 (290, 91348, 1),
 (291, 103101, 1),
 (292, 87366, 1),
 (293, 57518, 1),
 (294, 62341, 1),
 (295, 110604, 1),
 (296, 103869, 1),
 (298, 60610, 1),
 (299, 119933, 1),
 (300, 58605, 1),
 (301, 116458, 1),
 (302, 64027, 1),
 (303, 113837, 1),
 (304, 108116, 1),
 (305, 114669, 1),
 (306, 82122, 1),
 (307, 92713, 1),
 (308, 61508, 1),
 (309, 55178, 1),
 (310, 50283, 1),
 (311, 74203, 1),
 (313, 113900, 1),
 (314, 60190, 1),
 (317, 105559, 1),
 (319, 86517, 1),
 (320, 82327, 1),
 (321, 113137, 1),
 (322, 114587, 1),
 (324, 89147, 1),
 (326, 53085, 1),
 (327, 109905, 1),
 (329, 78262, 1),
 (330, 114703, 1),
 (331, 117371, 1),
 (333, 58777, 1),
 (334, 61856, 1),
 (335, 49966, 1),
 (336, 95241, 1),
 (337, 55429, 1),
 (340, 54018, 1),
 (341, 118651, 1),
 (342, 109550, 1),
 (343, 49459, 1),
 (344, 86422, 1),
 (345, 89605, 1),
 (346, 54379, 1),
 (347, 109004, 1),
 (349, 134291, 1),
 (350, 101889, 1),
 (351, 77644, 1),
 (353, 55638, 1),
 (354, 88454, 1),
 (356, 111323, 1),
 (358, 123098, 1),
 (360, 107031, 1),
 (361, 118405, 1),
 (362, 54779, 1),
 (363, 85158, 1),
 (364, 78556, 1),
 (365, 59524, 1),
 (366, 110900, 1),
 (367, 107386, 1),
 (368, 64595, 1),
 (369, 120859, 1),
 (370, 78624, 1),
 (371, 71839, 1),
 (372, 55390, 1),
 (373, 76772, 1),
 (374, 93877, 1),
 (375, 63138, 1),
 (376, 107298, 1),
 (377, 97547, 1),
 (378, 119288, 1),
 (380, 51411, 1),
 (381, 51956, 1),
 (382, 109909, 1),
 (383, 74563, 1),
 (385, 57115, 1),
 (387, 89580, 1),
 (388, 80699, 1),
 (389, 54244, 1),
 (390, 78038, 1),
 (391, 123225, 1),
 (392, 98101, 1),
 (393, 62764, 1),
 (394, 103249, 1),
 (395, 94905, 1),
 (397, 97846, 1),
 (400, 46657, 1),
 (401, 62050, 1),
 (402, 82901, 1),
 (403, 121621, 1),
 (406, 56551, 1),
 (407, 51650, 1),
 (408, 109781, 1),
 (409, 98865, 1),
 (410, 80010, 1),
 (411, 55853, 1),
 (412, 101857, 1),
 (413, 89630, 1),
 (414, 87911, 1),
 (415, 90251, 1),
 (416, 51630, 1),
 (417, 111167, 1),
 (418, 112494, 1),
 (420, 50448, 1),
 (423, 56946, 1),
 (424, 87444, 1),
 (427, 123703, 1),
 (428, 124841, 1),
 (429, 59732, 1),
 (432, 80438, 1),
 (433, 123381, 1),
 (434, 111689, 1),
 (435, 63109, 1),
 (436, 77492, 1),
 (437, 51197, 1),
 (438, 54744, 1),
 (439, 98148, 1),
 (440, 42921, 1),
 (441, 53329, 1),
 (442, 109202, 1),
 (443, 77040, 1),
 (444, 107371, 1),
 (445, 97156, 1),
 (446, 52409, 1),
 (447, 119789, 1),
 (448, 54417, 1),
 (450, 79001, 1),
 (451, 64593, 1),
 (453, 75184, 1),
 (454, 57507, 1),
 (455, 119365, 1),
 (456, 49697, 1),
 (457, 53012, 1),
 (458, 55897, 1),
 (460, 116507, 1),
 (461, 55152, 1),
 (462, 59306, 1),
 (463, 91052, 1),
 (464, 98195, 1),
 (465, 63454, 1),
 (466, 59153, 1),
 (467, 103100, 1),
 (468, 120093, 1),
 (470, 55024, 1),
 (471, 87305, 1),
 (473, 60193, 1),
 (476, 81611, 1),
 (478, 44645, 1),
 (479, 63532, 1),
 (480, 59357, 1),
 (481, 75340, 1),
 (482, 78166, 1),
 (483, 87131, 1),
 (484, 96695, 1),
 (486, 124094, 1),
 (488, 55071, 1),
 (489, 125583, 1),
 (490, 59042, 1),
 (491, 62707, 1),
 (492, 54429, 1),
 (494, 122354, 1),
 (496, 55103, 1),
 (498, 53888, 1),
 (499, 61776, 1),
 (500, 98228, 1),
 (501, 83431, 1),
 (502, 109940, 1),
 (503, 79444, 1),
 (504, 116039, 1),
 (506, 107469, 1),
 (510, 117106, 1),
 (511, 57269, 1),
 (512, 52891, 1),
 (514, 55672, 1),
 (518, 59794, 1),
 (520, 54384, 1),
 (521, 121735, 1),
 (523, 55613, 1),
 (524, 59151, 1),
 (525, 105063, 1),
 (527, 54074, 1),
 (528, 85456, 1),
 (529, 111089, 1),
 (530, 91381, 1),
 (531, 100741, 1),
 (533, 83941, 1),
 (534, 49526, 1),
 (535, 123837, 1),
 (536, 73894, 1),
 (539, 55564, 1),
 (540, 97949, 1),
 (542, 98469, 1),
 (543, 61849, 1),
 (544, 59204, 1),
 (545, 119957, 1),
 (548, 61801, 1),
 (549, 54226, 1),
 (550, 83337, 1),
 (551, 89867, 1),
 (554, 116019, 1),
 (555, 92605, 1),
 (556, 84304, 1),
 (557, 59953, 1),
 (559, 118595, 1),
 (560, 76934, 1),
 (561, 123431, 1),
 (562, 114570, 1),
 (563, 121385, 1),
 (565, 57506, 1),
 (566, 58374, 1),
 (567, 63421, 1),
 (568, 57682, 1),
 (569, 58073, 1),
 (570, 47156, 1),
 (571, 61547, 1),
 (572, 98041, 1),
 (573, 114078, 1),
 (574, 53893, 1),
 (575, 61924, 1),
 (577, 89584, 1),
 (578, 55167, 1),
 (579, 113494, 1),
 (580, 115247, 1),
 (581, 85194, 1),
 (583, 85653, 1),
 (584, 34322, 1),
 (586, 109480, 1),
 (587, 89201, 1),
 (590, 85359, 1),
 (592, 52761, 1),
 (594, 82202, 1),
 (595, 113411, 1),
 (596, 56815, 1),
 (598, 115914, 1),
 (599, 70784, 1),
 (600, 62047, 1),
 (601, 91351, 1),
 (602, 67689, 1),
 (603, 124284, 1),
 (606, 50838, 1),
 (608, 62962, 1),
 (609, 104295, 1),
 (610, 58753, 1),
 (611, 76767, 1),
 (613, 61490, 1),
 (614, 85829, 1),
 (616, 57389, 1),
 (617, 95561, 1),
 (619, 57787, 1),
 (620, 50692, 1),
 (621, 108546, 1),
 (623, 55997, 1),
 (624, 82015, 1),
 (625, 96226, 1),
 (628, 87173, 1),
 (631, 87108, 1),
 (632, 80545, 1),
 (636, 77055, 1),
 (637, 66648, 1),
 (638, 106044, 1),
 (641, 77256, 1),
 (643, 65922, 1),
 (644, 88761, 1),
 (645, 94369, 1),
 (646, 96234, 1),
 (647, 78428, 1),
 (648, 98645, 1),
 (649, 57107, 1),
 (650, 61430, 1),
 (651, 53529, 1),
 (652, 121357, 1),
 (653, 60031, 1),
 (654, 49694, 1),
 (655, 81352, 1),
 (657, 108694, 1),
 (660, 56727, 1),
 (661, 108688, 1),
 (662, 47928, 1),
 (663, 94018, 1),
 (664, 48936, 1),
 (665, 99700, 1),
 (666, 88769, 1),
 (667, 61547, 1),
 (668, 58950, 1),
 (670, 108958, 1),
 (672, 61375, 1),
 (673, 62671, 1),
 (674, 76645, 1),
 (675, 52046, 1),
 (676, 58331, 1),
 (677, 84861, 1),
 (678, 116056, 1),
 (679, 57252, 1),
 (680, 50181, 1),
 (681, 81731, 1),
 (682, 93171, 1),
 (683, 108406, 1),
 (686, 115140, 1),
 (687, 89566, 1),
 (689, 108843, 1),
 (690, 118189, 1),
 (691, 85839, 1),
 (693, 62730, 1),
 (694, 114699, 1),
 (695, 57582, 1),
 (696, 56586, 1),
 (697, 110392, 1),
 (698, 107179, 1),
 (699, 47420, 1),
 (702, 120265, 1),
 (704, 57087, 1),
 (705, 106115, 1),
 (706, 59689, 1),
 (707, 56200, 1),
 (708, 53544, 1),
 (709, 45973, 1),
 (710, 109840, 1),
 (715, 111734, 1),
 (716, 60617, 1),
 (717, 59651, 1),
 (719, 61280, 1),
 (720, 85729, 1),
 (721, 61855, 1),
 (722, 51864, 1),
 (723, 109378, 1),
 (724, 48125, 1),
 (725, 91370, 1),
 (727, 60859, 1),
 (728, 93030, 1),
 (730, 116628, 1),
 (732, 106311, 1),
 (733, 109740, 1),
 (734, 54352, 1),
 (735, 85948, 1),
 (736, 105843, 1),
 (737, 57577, 1),
 (738, 112478, 1),
 (739, 61830, 1),
 (741, 115222, 1),
 (743, 49843, 1),
 (744, 56100, 1),
 (745, 116603, 1),
 (746, 52997, 1),
 (747, 64907, 1),
 (748, 114061, 1),
 (749, 67455, 1),
 (750, 84096, 1),
 (753, 115810, 1),
 (755, 103629, 1),
 (757, 76487, 1),
 (759, 47174, 1),
 (760, 74472, 1),
 (763, 90515, 1),
 (764, 119927, 1),
 (765, 115371, 1),
 (766, 89579, 1),
 (767, 118414, 1),
 (768, 72458, 1),
 (771, 80117, 1),
 (772, 112874, 1),
 (773, 109815, 1),
 (774, 112333, 1),
 (775, 89935, 1),
 (776, 58512, 1),
 (777, 87099, 1),
 (778, 107313, 1),
 (782, 80643, 1),
 (783, 113714, 1),
 (784, 83962, 1),
 (785, 103821, 1),
 (786, 81031, 1),
 (787, 80019, 1),
 (788, 54026, 1),
 (789, 119925, 1),
 (790, 109358, 1),
 (791, 57457, 1),
 (793, 120221, 1),
 (794, 53276, 1),
 (795, 121804, 1),
 (796, 57110, 1),
 (797, 52672, 1),
 (798, 50866, 1),
 (799, 55654, 1),
 (800, 57925, 1),
 (803, 109860, 1),
 (804, 112520, 1),
 (805, 50086, 1),
 (806, 85964, 1),
 (807, 93185, 1),
 (810, 116124, 1),
 (811, 80634, 1),
 (812, 80023, 1),
 (814, 76347, 1),
 (815, 81163, 1),
 (816, 118009, 1),
 (817, 55708, 1),
 (818, 83651, 1),
 (819, 82428, 1),
 (820, 99107, 1),
 (823, 87531, 1),
 (825, 88117, 1),
 (827, 63417, 1),
 (829, 61712, 1),
 (831, 91237, 1),
 (832, 110570, 1),
 (833, 78620, 1),
 (835, 120268, 1),
 (836, 75081, 1),
 (838, 59480, 1),
 (840, 119550, 1),
 (841, 77519, 1),
 (842, 58340, 1),
 (843, 112147, 1),
 (844, 63592, 1),
 (845, 111410, 1),
 (846, 97150, 1),
 (848, 80315, 1),
 (849, 117476, 1),
 (850, 86878, 1),
 (851, 78054, 1),
 (852, 109807, 1),
 (853, 81146, 1),
 (855, 66428, 1),
 (856, 99879, 1),
 (857, 88555, 1),
 (859, 76157, 1),
 (861, 79197, 1),
 (862, 82877, 1),
 (863, 114185, 1),
 (864, 100320, 1),
 (865, 130617, 1),
 (867, 103880, 1),
 (868, 80737, 1),
 (869, 121132, 1),
 (870, 100995, 1),
 (871, 65875, 1),
 (873, 121255, 1),
 (875, 89563, 1),
 (876, 63576, 1),
 (877, 93044, 1),
 (879, 110203, 1),
 (880, 88582, 1),
 (882, 104524, 1),
 (885, 62827, 1),
 (886, 98918, 1),
 (887, 115306, 1),
 (888, 96990, 1),
 (889, 92506, 1),
 (890, 80713, 1),
 (891, 82911, 1),
 (892, 82436, 1),
 (893, 113334, 1),
 (894, 74395, 1),
 (895, 127658, 1),
 (896, 60552, 1),
 (897, 110923, 1),
 (898, 82496, 1),
 (899, 85662, 1),
 (900, 48943, 1),
 (901, 115736, 1),
 (902, 117463, 1),
 (904, 50389, 1),
 (905, 85506, 1),
 (906, 59622, 1),
 (907, 108896, 1),
 (908, 61903, 1),
 (911, 119396, 1),
 (912, 81174, 1),
 (913, 96633, 1),
 (914, 62352, 1),
 (915, 101745, 1),
 (916, 59013, 1),
 (917, 74772, 1),
 (919, 113137, 1),
 (920, 98429, 1),
 (921, 51750, 1),
 (922, 77393, 1),
 (924, 55476, 1),
 (925, 74944, 1),
 (927, 119573, 1),
 (928, 89511, 1),
 (929, 107506, 1),
 (930, 71769, 1),
 (932, 64831, 1),
 (933, 91450, 1),
 (936, 52825, 1),
 (937, 52663, 1),
 (938, 126639, 1),
 (940, 75565, 1),
 (941, 123093, 1),
 (942, 52162, 1),
 (944, 51802, 1),
 (945, 110760, 1),
 (947, 51862, 1),
 (948, 52248, 1),
 (949, 106429, 1),
 (951, 87381, 1),
 (952, 84204, 1),
 (953, 111272, 1),
 (956, 121915, 1),
 (957, 76183, 1),
 (958, 85609, 1),
 (959, 50672, 1),
 (961, 93618, 1),
 (962, 119983, 1),
 (963, 47094, 1),
 (964, 77191, 1),
 (965, 53633, 1),
 (966, 58033, 1),
 (967, 87719, 1),
 (968, 93970, 1),
 (969, 121084, 1),
 (970, 85483, 1),
 (971, 116080, 1),
 (972, 92059, 1),
 (973, 118126, 1),
 (974, 52241, 1),
 (975, 51705, 1),
 (976, 52714, 1),
 (978, 79252, 1),
 (979, 119134, 1),
 (980, 95718, 1),
 (981, 84916, 1),
 (982, 72463, 1),
 (983, 82292, 1),
 (984, 58263, 1),
 (985, 113699, 1),
 (986, 111853, 1),
 (987, 60684, 1),
 (988, 84443, 1),
 (989, 119935, 1),
 (991, 52955, 1),
 (993, 122000, 1),
 (994, 94494, 1),
 (995, 123876, 1),
 (996, 59817, 1),
 (997, 50278, 1),
 (999, 55914, 1),
 (1000, 120773, 1),
 (1, 82294, 2),
 (2, 73796, 2),
 (3, 101883, 2),
 (4, 77692, 2),
 (5, 91628, 2),
 (6, 81476, 2),
 (7, 80818, 2),
 (8, 119076, 2),
 (9, 40853, 2),
 (10, 89507, 2),
 (11, 81891, 2),
 (12, 115493, 2),
 (13, 104854, 2),
 (15, 104249, 2),
 (16, 53424, 2),
 (17, 87811, 2),
 (18, 78329, 2),
 (19, 56912, 2),
 (21, 106158, 2),
 (22, 76424, 2),
 (23, 57837, 2),
 (25, 59989, 2),
 (26, 89653, 2),
 (31, 122287, 2),
 (32, 55693, 2),
 (34, 106329, 2),
 (35, 84227, 2),
 (37, 85376, 2),
 (39, 104706, 2),
 (40, 113548, 2),
 (42, 111712, 2),
 (43, 97166, 2),
 (44, 85267, 2),
 (45, 65938, 2),
 (46, 81287, 2),
 (47, 66598, 2),
 (48, 62913, 2),
 (49, 85787, 2),
 (50, 58954, 2),
 (51, 120111, 2),
 (52, 62657, 2),
 (54, 61973, 2),
 (55, 48266, 2),
 (56, 63716, 2),
 (57, 82838, 2),
 (58, 119690, 2),
 (59, 61300, 2),
 (61, 66276, 2),
 (62, 53559, 2),
 (63, 58829, 2),
 (64, 86514, 2),
 (65, 105635, 2),
 (67, 113301, 2),
 (68, 62145, 2),
 (69, 111026, 2),
 (70, 63280, 2),
 (71, 103509, 2),
 (72, 49863, 2),
 (73, 111315, 2),
 (74, 51963, 2),
 (75, 89059, 2),
 (77, 60653, 2),
 (78, 111033, 2),
 (79, 89232, 2),
 (83, 62299, 2),
 (85, 114328, 2),
 (86, 105164, 2),
 (88, 113650, 2),
 (89, 91511, 2),
 (90, 78199, 2),
 (91, 119899, 2),
 (92, 49573, 2),
 (93, 86147, 2),
 (95, 87040, 2),
 (97, 61914, 2),
 (99, 85587, 2),
 (100, 51959, 2),
 (101, 57508, 2),
 (102, 53298, 2),
 (103, 111437, 2),
 (104, 82121, 2),
 (105, 85794, 2),
 (107, 49808, 2),
 (109, 107427, 2),
 (111, 117747, 2),
 (112, 75524, 2),
 (113, 106294, 2),
 (114, 79995, 2),
 (115, 114070, 2),
 (116, 115711, 2),
 (117, 54395, 2),
 (118, 55845, 2),
 (119, 133032, 2),
 (121, 85199, 2),
 (122, 81886, 2),
 (123, 94897, 2),
 (124, 77820, 2),
 (125, 56981, 2),
 (126, 75808, 2),
 (127, 125336, 2),
 (129, 89021, 2),
 (130, 116009, 2),
 (131, 60163, 2),
 (132, 63087, 2),
 (133, 63501, 2),
 (134, 95316, 2),
 (135, 119208, 2),
 (137, 113679, 2),
 (138, 87653, 2),
 (139, 60791, 2),
 (140, 89294, 2),
 (141, 47521, 2),
 (142, 60905, 2),
 (143, 74831, 2),
 (145, 85548, 2),
 (147, 79505, 2),
 (149, 82179, 2),
 (150, 112994, 2),
 (151, 55182, 2),
 (154, 124365, 2),
 (155, 78053, 2),
 (156, 51551, 2),
 (157, 92166, 2),
 (158, 85763, 2),
 (159, 85652, 2),
 (160, 88125, 2),
 (162, 107622, 2),
 (163, 80235, 2),
 (164, 86372, 2),
 (165, 49330, 2),
 (166, 61540, 2),
 (167, 86516, 2),
 (169, 62407, 2),
 (170, 101059, 2),
 (172, 87164, 2),
 (173, 54157, 2),
 (174, 115050, 2),
 (175, 88192, 2),
 (176, 113912, 2),
 (177, 93865, 2),
 (180, 46200, 2),
 (181, 117066, 2),
 (183, 85631, 2),
 (184, 93794, 2),
 (186, 53337, 2),
 (187, 83833, 2),
 (189, 101459, 2),
 (190, 114431, 2),
 (191, 89567, 2),
 (193, 98370, 2),
 (194, 52469, 2),
 (199, 108793, 2),
 (200, 109357, 2),
 (203, 120494, 2),
 (204, 52445, 2),
 (206, 113110, 2),
 (210, 88368, 2),
 (212, 52869, 2),
 (214, 103852, 2),
 (215, 78642, 2),
 (216, 80225, 2),
 (218, 81031, 2),
 (220, 114539, 2),
 (222, 111582, 2),
 (223, 62379, 2),
 (226, 75472, 2),
 (227, 58983, 2),
 (228, 120913, 2),
 (229, 64613, 2),
 (231, 107939, 2),
 (232, 52865, 2),
 (233, 52609, 2),
 (234, 84218, 2),
 (235, 104244, 2),
 (236, 110886, 2),
 (239, 109951, 2),
 (240, 79328, 2),
 (242, 85843, 2),
 (243, 111297, 2),
 (244, 88630, 2),
 (245, 104657, 2),
 (246, 79965, 2),
 (247, 115993, 2),
 (248, 55193, 2),
 (249, 110091, 2),
 (250, 108758, 2),
 (251, 76696, 2),
 (252, 81184, 2),
 (253, 57311, 2),
 (254, 88477, 2),
 (255, 57418, 2),
 (256, 76407, 2),
 (257, 80563, 2),
 (258, 110721, 2),
 (260, 123900, 2),
 (262, 59078, 2),
 (263, 98261, 2),
 (264, 62154, 2),
 (266, 112988, 2),
 (267, 50421, 2),
 (268, 53501, 2),
 (269, 106645, 2),
 (270, 108579, 2),
 (271, 61964, 2),
 (273, 78280, 2),
 (274, 111446, 2),
 (275, 51008, 2),
 (280, 60446, 2),
 (281, 123148, 2),
 (282, 78898, 2),
 (284, 114233, 2),
 (285, 128058, 2),
 (286, 84642, 2),
 (287, 59191, 2),
 (288, 119190, 2),
 (292, 85833, 2),
 (293, 65035, 2),
 (294, 77717, 2),
 (295, 105894, 2),
 (297, 56142, 2),
 (298, 82161, 2),
 (300, 107922, 2),
 (301, 113931, 2),
 (302, 104598, 2),
 (303, 62308, 2),
 (304, 60686, 2),
 (305, 83378, 2),
 (307, 92718, 2),
 (308, 66020, 2),
 (309, 111571, 2),
 (311, 107443, 2),
 (312, 90294, 2),
 (313, 55175, 2),
 (314, 112050, 2),
 (315, 93751, 2),
 (316, 63355, 2),
 (317, 82744, 2),
 (319, 114558, 2),
 (320, 124644, 2),
 (322, 53590, 2),
 (323, 109157, 2),
 ...]

[Helpful Hints Video](https://youtu.be/Scyn7exzUcY)

### 4
### Which three categories of film have the highest average number of actors per film?

In [33]:
%%sql

EXPLAIN
SELECT AVG(act_count), name
FROM(SELECT COUNT(actor_id) as act_count, name, fa.film_id
     FROM category as c JOIN film_category as fc ON c.category_id = fc.category_id JOIN film as f ON fc.film_id = f.film_id JOIN film_actor as fa ON f.film_id = fa.film_id
    GROUP BY name, fa.film_id) as count
GROUP BY name

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
17 rows affected.

[('HashAggregate  (cost=449.55..452.05 rows=200 width=100)',),
 ('  Group Key: c.name',),
 ('  ->  HashAggregate  (cost=313.00..367.62 rows=5462 width=78)',),
 ('        Group Key: c.name, fa.film_id',),
 ('        ->  Hash Join  (cost=112.31..272.03 rows=5462 width=72)',),
 ('              Hash Cond: (fa.film_id = fc.film_id)',),
 ('              ->  Seq Scan on film_actor fa  (cost=0.00..84.62 rows=5462 width=4)',),
 ('              ->  Hash  (cost=99.81..99.81 rows=1000 width=74)',),
 ('                    ->  Hash Join  (cost=77.86..99.81 rows=1000 width=74)',),
 ('                          Hash Cond: (fc.film_id = f.film_id)',),
 ('                          ->  Hash Join  (cost=1.36..20.67 rows=1000 width=70)',),
 ('                                Hash Cond: (fc.category_id = c.category_id)',),
 ('                                ->  Seq Scan on film_category fc  (cost=0.00..16.00 rows=1000 width=4)',),
 ('                                ->  Hash  (cost=1.16..1.16 rows=16 width=72)',),
 ('                                      ->  Seq Scan on category c  (cost=0.00..1.16 rows=16 width=72)',),
 ('                          ->  Hash  (cost=64.00..64.00 rows=1000 width=4)',),
 ('                                ->  Seq Scan on film f  (cost=0.00..64.00 rows=1000 width=4)',)]

In [34]:
%%sql

SELECT AVG(act_count), name
FROM(SELECT COUNT(actor_id) as act_count, name, fa.film_id
     FROM category as c JOIN film_category as fc ON c.category_id = fc.category_id JOIN film as f ON fc.film_id = f.film_id JOIN film_actor as fa ON f.film_id = fa.film_id
    GROUP BY name, fa.film_id) as count
GROUP BY name

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
16 rows affected.

[(Decimal('6.0410958904109589'), 'Sports'),
 (Decimal('5.3859649122807018'), 'Classics'),
 (Decimal('5.4444444444444444'), 'New'),
 (Decimal('5.0289855072463768'), 'Family'),
 (Decimal('4.9310344827586207'), 'Comedy'),
 (Decimal('5.4696969696969697'), 'Animation'),
 (Decimal('5.7321428571428571'), 'Travel'),
 (Decimal('5.5098039215686275'), 'Music'),
 (Decimal('5.6607142857142857'), 'Horror'),
 (Decimal('5.7377049180327869'), 'Drama'),
 (Decimal('5.3442622950819672'), 'Sci-Fi'),
 (Decimal('4.8032786885245902'), 'Games'),
 (Decimal('5.6617647058823529'), 'Documentary'),
 (Decimal('5.4383561643835616'), 'Foreign'),
 (Decimal('5.6718750000000000'), 'Action'),
 (Decimal('5.7333333333333333'), 'Children')]

### 5
### For each staff member, list their average daily payment amount processed.

In [36]:
%%sql
EXPLAIN

SELECT s.staff_id, payment_date::date, AVG(amount)
FROM staff as s JOIN payment as p ON s.staff_id = p.staff_id
GROUP BY s.staff_id, payment_date::date
ORDER BY s.staff_id, payment_date::date;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
7 rows affected.

[('HashAggregate  (cost=483.98..666.43 rows=14596 width=44)',),
 ('  Group Key: s.staff_id, p.payment_date',),
 ('  ->  Hash Join  (cost=1.04..374.51 rows=14596 width=18)',),
 ('        Hash Cond: (p.staff_id = s.staff_id)',),
 ('        ->  Seq Scan on payment p  (cost=0.00..253.96 rows=14596 width=16)',),
 ('        ->  Hash  (cost=1.02..1.02 rows=2 width=4)',),
 ('              ->  Seq Scan on staff s  (cost=0.00..1.02 rows=2 width=4)',)]

In [45]:
%%sql

SELECT s.staff_id, payment_date::date, AVG(amount)
FROM staff as s JOIN payment as p ON s.staff_id = p.staff_id
GROUP BY s.staff_id, payment_date::date
ORDER BY s.staff_id, payment_date::date;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
64 rows affected.

[(1, datetime.date(2007, 2, 14), Decimal('4.5900000000000000')),
 (1, datetime.date(2007, 2, 15), Decimal('3.7229192546583851')),
 (1, datetime.date(2007, 2, 16), Decimal('4.1318918918918919')),
 (1, datetime.date(2007, 2, 17), Decimal('4.1884126984126984')),
 (1, datetime.date(2007, 2, 18), Decimal('4.0387804878048780')),
 (1, datetime.date(2007, 2, 19), Decimal('4.0955900621118012')),
 (1, datetime.date(2007, 2, 20), Decimal('4.1831034482758621')),
 (1, datetime.date(2007, 2, 21), Decimal('4.4355445544554455')),
 (1, datetime.date(2007, 3, 1), Decimal('4.1167605633802817')),
 (1, datetime.date(2007, 3, 2), Decimal('4.4344444444444444')),
 (1, datetime.date(2007, 3, 16), Decimal('3.7566666666666667')),
 (1, datetime.date(2007, 3, 17), Decimal('4.0575675675675676')),
 (1, datetime.date(2007, 3, 18), Decimal('4.3618750000000000')),
 (1, datetime.date(2007, 3, 19), Decimal('4.0198013245033113')),
 (1, datetime.date(2007, 3, 20), Decimal('4.2305498281786942')),
 (1, datetime.date(2007, 3, 21), Decimal('4.2122222222222222')),
 (1, datetime.date(2007, 3, 22), Decimal('4.0566666666666667')),
 (1, datetime.date(2007, 3, 23), Decimal('4.2073913043478261')),
 (1, datetime.date(2007, 4, 5), Decimal('4.5566666666666667')),
 (1, datetime.date(2007, 4, 6), Decimal('4.2492592592592593')),
 (1, datetime.date(2007, 4, 7), Decimal('4.2600421940928270')),
 (1, datetime.date(2007, 4, 8), Decimal('4.1657812500000000')),
 (1, datetime.date(2007, 4, 9), Decimal('3.9427559055118110')),
 (1, datetime.date(2007, 4, 10), Decimal('4.1169841269841270')),
 (1, datetime.date(2007, 4, 11), Decimal('4.0672532188841202')),
 (1, datetime.date(2007, 4, 12), Decimal('4.1071171171171171')),
 (1, datetime.date(2007, 4, 26), Decimal('4.5769565217391304')),
 (1, datetime.date(2007, 4, 27), Decimal('4.2047239263803681')),
 (1, datetime.date(2007, 4, 28), Decimal('4.0323452768729642')),
 (1, datetime.date(2007, 4, 29), Decimal('4.1395327102803738')),
 (1, datetime.date(2007, 4, 30), Decimal('4.3777551020408163')),
 (1, datetime.date(2007, 5, 14), Decimal('2.4641052631578947')),
 (2, datetime.date(2007, 2, 14), Decimal('4.1664705882352941')),
 (2, datetime.date(2007, 2, 15), Decimal('4.0104081632653061')),
 (2, datetime.date(2007, 2, 16), Decimal('4.0497014925373134')),
 (2, datetime.date(2007, 2, 17), Decimal('4.2065605095541401')),
 (2, datetime.date(2007, 2, 18), Decimal('4.4465217391304348')),
 (2, datetime.date(2007, 2, 19), Decimal('4.2383221476510067')),
 (2, datetime.date(2007, 2, 20), Decimal('4.1954794520547945')),
 (2, datetime.date(2007, 2, 21), Decimal('4.1953571428571429')),
 (2, datetime.date(2007, 3, 1), Decimal('4.1956074766355140')),
 (2, datetime.date(2007, 3, 2), Decimal('4.1545569620253165')),
 (2, datetime.date(2007, 3, 16), Decimal('4.4423809523809524')),
 (2, datetime.date(2007, 3, 17), Decimal('4.3094444444444444')),
 (2, datetime.date(2007, 3, 18), Decimal('4.2959210526315789')),
 (2, datetime.date(2007, 3, 19), Decimal('4.2665957446808511')),
 (2, datetime.date(2007, 3, 20), Decimal('4.4962500000000000')),
 (2, datetime.date(2007, 3, 21), Decimal('4.3056424581005587')),
 (2, datetime.date(2007, 3, 22), Decimal('4.2889690721649485')),
 (2, datetime.date(2007, 3, 23), Decimal('4.2031782945736434')),
 (2, datetime.date(2007, 4, 5), Decimal('4.0194117647058824')),
 (2, datetime.date(2007, 4, 6), Decimal('4.2986419753086420')),
 (2, datetime.date(2007, 4, 7), Decimal('4.1474468085106383')),
 (2, datetime.date(2007, 4, 8), Decimal('4.4669230769230769')),
 (2, datetime.date(2007, 4, 9), Decimal('4.1015384615384615')),
 (2, datetime.date(2007, 4, 10), Decimal('4.0682608695652174')),
 (2, datetime.date(2007, 4, 11), Decimal('4.2240425531914894')),
 (2, datetime.date(2007, 4, 12), Decimal('4.4291304347826087')),
 (2, datetime.date(2007, 4, 26), Decimal('4.1415151515151515')),
 (2, datetime.date(2007, 4, 27), Decimal('4.1098738170347003')),
 (2, datetime.date(2007, 4, 28), Decimal('4.3275000000000000')),
 (2, datetime.date(2007, 4, 29), Decimal('4.3536363636363636')),
 (2, datetime.date(2007, 4, 30), Decimal('4.3549851632047478')),
 (2, datetime.date(2007, 5, 14), Decimal('3.2194252873563218'))]

### 6
### What is the statistical correlation between film length and rental rate?

In [47]:
%%sql
EXPLAIN

SELECT corr(length, rental_rate)
FROM film as f

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
2 rows affected.

[('Aggregate  (cost=71.50..71.51 rows=1 width=8)',),
 ('  ->  Seq Scan on film f  (cost=0.00..64.00 rows=1000 width=8)',)]

In [48]:
%%sql
SELECT corr(length, rental_rate)
FROM film as f

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
1 rows affected.

[(0.0297892586459086,)]

[Helpful Hints Video](https://youtu.be/3d2vgLn9KVs)

# Save your Notebook, then `File > Close and Halt`