# Triggers in PostgreSQL - Exercise


For this exercise, you will connect to the `dsa_student` database and create functions within your schema, i.e., your pawprint should replace SSO below.

--- 

## Audit the Survey Table for Deletes

### 1 Define and create your trigger function to audit deletes on the survey table.

# Add your trigger function below this line.

----

### 2 Create your trigger on the survey table.

# Add your trigger definition below this line.

# Show the table describe for the Survey table that should include three triggers now.

### 3 Remove Rows

Note: In the practice we executed this multi-insert statement.

```SQL
INSERT INTO SSO.survey VALUES 
(619,'lake','rad',8.72),
(619,'lake','sal',2.03),
(622,'lake','rad',8.8),
(622,'lake','sal',1.9)
;
```

#### In the cells below, 
 1. Write a two distinct DELETE Statements for 619/lake rows.
     1. removing this data (619,'lake','rad',8.72)
     2. removing this data (619,'lake','sal',2.03)
 2. Show the data in the survey table.
 3. Show the resulting audit rows.

# 3.1 Show the delete statements

# 3.2 Show the full survey table

# 3.3 Show the resulting audit rows.

---

### 4 Remove the other two rows with a single delete statement.

 1. Write a single DELETE Statement for the 622/lake rows.
     1. removing this data (622,'lake','rad',8.8)
     2. removing this data (622,'lake','sal',1.9)
 2. Show the data in the survey table.
 3. Show the resulting audit rows.

# 4.1 Show the delete statements

# 4.2 Show the full survey table

# 4.3 Show the resulting audit rows.

# Save your notebook, then `File > Close and Halt`