# Triggers in PostgreSQL - Exercise


For this exercise, you will connect to the `dsa_student` database and create functions within your schema, i.e., your pawprint should replace SSO below.

--- 

## Audit the Survey Table for Deletes

### 1 Define and create your trigger function to audit deletes on the survey table.

# Add your trigger function below this line.




CREATE TRIGGER survey_delete_trigger
  AFTER DELETE
  ON may96c.survey
  FOR EACH ROW
  EXECUTE PROCEDURE may96c.audit_SSO_survey_reading_delete();




CREATE OR REPLACE FUNCTION may96c.audit_SSO_survey_reading_delete()
  RETURNS TRIGGER AS 
$$
BEGIN
   INSERT INTO may96c.survey_audit
       (taken, person, quant, old_reading, new_reading)
   VALUES
       (OLD.taken, OLD.person, OLD.quant, NULL, OLD.reading);
   RETURN NEW;
END;
$$
LANGUAGE PLPGSQL;

----

### 2 Create your trigger on the survey table.

# Add your trigger definition below this line.


CREATE TRIGGER survey_delete_trigger
  AFTER DELETE
  ON may96c.survey
  FOR EACH ROW
  EXECUTE PROCEDURE may96c.audit_SSO_survey_reading_delete();

# Show the table describe for the Survey table that should include three triggers now.
dsa_student=> \d may96c.survey
               Table "may96c.survey"
 Column  |  Type   | Collation | Nullable | Default
---------+---------+-----------+----------+---------
 taken   | integer |           |          |
 person  | text    |           |          |
 quant   | text    |           |          |
 reading | real    |           |          |
Triggers:
    may96c_survey_insert_audit AFTER INSERT ON survey FOR EACH ROW EXECUTE PROCEDURE audit_may96c_survey_reading_insert()
    survey_delete_trigger AFTER DELETE ON survey FOR EACH ROW EXECUTE PROCEDURE audit_sso_survey_reading_delete()

### 3 Remove Rows

Note: In the practice we executed this multi-insert statement.

```SQL
INSERT INTO SSO.survey VALUES 
(619,'lake','rad',8.72),
(619,'lake','sal',2.03),
(622,'lake','rad',8.8),
(622,'lake','sal',1.9)
;
```

#### In the cells below, 
 1. Write a two distinct DELETE Statements for 619/lake rows.
     1. removing this data (619,'lake','rad',8.72)
     2. removing this data (619,'lake','sal',2.03)
 2. Show the data in the survey table.
 3. Show the resulting audit rows.

# 3.1 Show the delete statements
DELETE FROM may96c.survey WHERE taken = 619 AND person = 'lake' ;
DELETE FROM may96c.survey WHERE taken = 619 AND person = 'lake' ;


dsa_student=> DELETE FROM may96c.survey WHERE taken = 619 AND person = 'lake' ;
DELETE 2
dsa_student=>

# 3.2 Show the full survey table

LINE 1: select (*) FROM may96c.survey ;
                ^
dsa_student=> select * from may96c.survey ;
 taken | person | quant | reading
-------+--------+-------+---------
   619 | dyer   | rad   |    9.82
   619 | dyer   | sal   |    0.13
   622 | dyer   | rad   |     7.8
   622 | dyer   | sal   |    0.09
   734 | pb     | rad   |    8.41
   734 | lake   | sal   |    0.05
   734 | pb     | temp  |   -21.5
   735 | pb     | rad   |    7.22
   735 |        | sal   |    0.06
   735 |        | temp  |     -26
   751 | pb     | rad   |    4.35
   751 | pb     | temp  |   -18.5
   751 | lake   | sal   |     0.1
   752 | lake   | rad   |    2.19
   752 | lake   | sal   |    0.09
   752 | lake   | temp  |     -16
   837 | lake   | rad   |    1.46
   837 | lake   | sal   |    0.21
   752 | roe    | sal   |   41.61
   837 | roe    | sal   |   22.51
   844 | roe    | rad   |   11.26
   619 | roe    | rad   |     101
   622 | lake   | rad   |     8.8
   622 | lake   | sal   |     1.9
(24 rows)

# 3.3 Show the resulting audit rows.


dsa_student=> select * FROM may96c.survey_audit;
 taken | person | quant |          change_time          | old_reading | new_reading
-------+--------+-------+-------------------------------+-------------+-------------
   619 | roe    | rad   | 2021-11-20 13:50:55.378257-06 |             |         101
   619 | lake   | rad   | 2021-11-20 13:58:55.086594-06 |             |        8.72
   619 | lake   | sal   | 2021-11-20 13:58:55.086594-06 |             |        2.03
   622 | lake   | rad   | 2021-11-20 13:58:55.086594-06 |             |         8.8
   622 | lake   | sal   | 2021-11-20 13:58:55.086594-06 |             |         1.9
   619 | lake   | rad   | 2021-11-21 17:20:10.476722-06 |             |        8.72
   619 | lake   | sal   | 2021-11-21 17:20:10.476722-06 |             |        2.03
   
 LAST TWO ROWS

---

### 4 Remove the other two rows with a single delete statement.

 1. Write a single DELETE Statement for the 622/lake rows.
     1. removing this data (622,'lake','rad',8.8)
     2. removing this data (622,'lake','sal',1.9)
 2. Show the data in the survey table.
 3. Show the resulting audit rows.

# 4.1 Show the delete statements


dsa_student=> DELETE FROM may96c.survey WHERE taken = 622 AND person = 'lake';

# 4.2 Show the full survey table
dsa_student=> select * from may96c.survey ;
 taken | person | quant | reading
-------+--------+-------+---------
   619 | dyer   | rad   |    9.82
   619 | dyer   | sal   |    0.13
   622 | dyer   | rad   |     7.8
   622 | dyer   | sal   |    0.09
   734 | pb     | rad   |    8.41
   734 | lake   | sal   |    0.05
   734 | pb     | temp  |   -21.5
   735 | pb     | rad   |    7.22
   735 |        | sal   |    0.06
   735 |        | temp  |     -26
   751 | pb     | rad   |    4.35
   751 | pb     | temp  |   -18.5
   751 | lake   | sal   |     0.1
   752 | lake   | rad   |    2.19
   752 | lake   | sal   |    0.09
   752 | lake   | temp  |     -16
   837 | lake   | rad   |    1.46
   837 | lake   | sal   |    0.21
   752 | roe    | sal   |   41.61
   837 | roe    | sal   |   22.51
   844 | roe    | rad   |   11.26
   619 | roe    | rad   |     101
(22 rows)

# 4.3 Show the resulting audit rows.
dsa_student=> select * from may96c.survey_audit ;
 taken | person | quant |          change_time          | old_reading | new_reading
-------+--------+-------+-------------------------------+-------------+-------------
   619 | roe    | rad   | 2021-11-20 13:50:55.378257-06 |             |         101
   619 | lake   | rad   | 2021-11-20 13:58:55.086594-06 |             |        8.72
   619 | lake   | sal   | 2021-11-20 13:58:55.086594-06 |             |        2.03
   622 | lake   | rad   | 2021-11-20 13:58:55.086594-06 |             |         8.8
   622 | lake   | sal   | 2021-11-20 13:58:55.086594-06 |             |         1.9
   619 | lake   | rad   | 2021-11-21 17:20:10.476722-06 |             |        8.72
   619 | lake   | sal   | 2021-11-21 17:20:10.476722-06 |             |        2.03
   622 | lake   | rad   | 2021-11-21 17:42:33.347984-06 |             |         8.8
   622 | lake   | sal   | 2021-11-21 17:42:33.347984-06 |             |         1.9
   622 | lake   | rad   | 2021-11-21 17:52:24.405268-06 |             |         8.8
   622 | lake   | sal   | 2021-11-21 17:52:24.405268-06 |             |         1.9
   622 | lake   | rad   | 2021-11-21 17:52:24.405268-06 |             |         8.8
   622 | lake   | sal   | 2021-11-21 17:52:24.405268-06 |             |         1.9
(13 rows)

# Save your notebook, then `File > Close and Halt`