# Window Functions

Please remember to use the `EXPLAIN` before you execute a query to help avoid unnecessary load on the DBMS and indefinite waits by you for results.

Therefore, for each question, we are providing a cell for the `EXPLAIN` as well as the final SQL.


## Our practice schema:

We will use the DVD rental database.

A PDF of the _Entity-Relationship Diagrams_ (ERD) is available [here](https://web.dsa.missouri.edu/static/PDF/DVD_Rental_ERD2.pdf).   
Printing it out is recommended.


**NOTE**: These queries are more complex that the previous day's.
If you get stuck on one, skip and come back to it later.


**NOTE**: For this notebook, it is desired that you construct solutions using Window Functions.

In [2]:
%load_ext sql
%sql postgres://dsa_ro_user:readonly@pgsql.dsa.lan/dvdrental

'Connected: dsa_ro_user@dvdrental'

# 1

### For the following customers: list each movie they have rented, its `film.rental_duration`, and the comparison of the  `film.rental_duration` versus their average `rental` duration `(return_date  - rental_date)` as a column named `cmp`.

Customer IDs: 
  * 318
  * 110
  * 281
  * 61

In [2]:
%%sql
EXPLAIN
SELECT customer_id, film_id, rental_duration, (rental_duration - rental_duration_2) as cmp
FROM (SELECT AVG(return_date::date - rental_date::date) OVER (PARTITION BY i.inventory_id) as rental_duration_2, customer_id, i.film_id, rental_duration
      FROM rental as r
    JOIN inventory as i on r.inventory_id = i.inventory_id
    JOIN film as f on i.film_id = f.film_id
    WHERE customer_id = 318 OR customer_id = 110 OR customer_id = 281 OR customer_id = 61
     GROUP BY rental_duration, return_date, rental_date, customer_id, i.film_id,i.inventory_id) as cool
GROUP BY film_id, customer_id, rental_duration, cool.rental_duration_2

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
21 rows affected.

[('Group  (cost=635.01..636.81 rows=103 width=70)',),
 ('  Group Key: cool.film_id, cool.customer_id, cool.rental_duration, cool.rental_duration_2',),
 ('  ->  Sort  (cost=635.01..635.26 rows=103 width=38)',),
 ('        Sort Key: cool.film_id, cool.customer_id, cool.rental_duration, cool.rental_duration_2',),
 ('        ->  Subquery Scan on cool  (cost=627.96..631.56 rows=103 width=38)',),
 ('              ->  WindowAgg  (cost=627.96..630.53 rows=103 width=58)',),
 ('                    ->  Sort  (cost=627.96..628.21 rows=103 width=26)',),
 ('                          Sort Key: i.inventory_id',),
 ('                          ->  Group  (cost=622.97..624.51 rows=103 width=26)',),
 ('                                Group Key: f.rental_duration, r.return_date, r.rental_date, r.customer_id, i.inventory_id',),
 ('                                ->  Sort  (cost=622.97..623.23 rows=103 width=26)',),
 ('                                      Sort Key: f.rental_duration, r.return_date, r.rental_date, r.customer_id, i.inventory_id',),
 ('                                      ->  Nested Loop  (cost=472.44..619.53 rows=103 width=26)',),
 ('                                            ->  Hash Join  (cost=472.17..584.09 rows=103 width=24)',),
 ('                                                  Hash Cond: (i.inventory_id = r.inventory_id)',),
 ('                                                  ->  Seq Scan on inventory i  (cost=0.00..70.81 rows=4581 width=6)',),
 ('                                                  ->  Hash  (cost=470.88..470.88 rows=103 width=22)',),
 ('                                                        ->  Seq Scan on rental r  (cost=0.00..470.88 rows=103 width=22)',),
 ('                                                              Filter: ((customer_id = 318) OR (customer_id = 110) OR (customer_id = 281) OR (customer_id = 61))',),
 ('                                            ->  Index Scan using film_pkey on film f  (cost=0.28..0.34 rows=1 width=6)',),
 ('                                                  Index Cond: (film_id = i.film_id)',)]

In [3]:
%%sql
SELECT customer_id, film_id, rental_duration, rental_duration_2,(rental_duration - rental_duration_2) as cmp
FROM (SELECT AVG(return_date::date - rental_date::date) OVER (PARTITION BY i.inventory_id) as rental_duration_2, customer_id, i.film_id, rental_duration
      FROM rental as r
    JOIN inventory as i on r.inventory_id = i.inventory_id
    JOIN film as f on i.film_id = f.film_id
    WHERE customer_id = 318 OR customer_id = 110 OR customer_id = 281 OR customer_id = 61
     GROUP BY rental_duration, return_date, rental_date, customer_id, i.film_id,i.inventory_id) as cool
GROUP BY film_id, customer_id, rental_duration, cool.rental_duration_2
ORDER BY customer_id, film_id

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
54 rows affected.

[(61, 27, 7, Decimal('4.0000000000000000'), Decimal('3.0000000000000000')),
 (61, 46, 3, Decimal('8.0000000000000000'), Decimal('-5.0000000000000000')),
 (61, 56, 6, Decimal('5.0000000000000000'), Decimal('1.0000000000000000')),
 (61, 317, 4, Decimal('2.0000000000000000'), Decimal('2.0000000000000000')),
 (61, 454, 6, Decimal('9.0000000000000000'), Decimal('-3.0000000000000000')),
 (61, 469, 7, Decimal('1.00000000000000000000'), Decimal('6.00000000000000000000')),
 (61, 618, 3, Decimal('4.0000000000000000'), Decimal('-1.0000000000000000')),
 (61, 630, 7, Decimal('5.0000000000000000'), Decimal('2.0000000000000000')),
 (61, 723, 3, Decimal('8.0000000000000000'), Decimal('-5.0000000000000000')),
 (61, 724, 5, Decimal('9.0000000000000000'), Decimal('-4.0000000000000000')),
 (61, 730, 3, Decimal('9.0000000000000000'), Decimal('-6.0000000000000000')),
 (61, 813, 7, Decimal('5.0000000000000000'), Decimal('2.0000000000000000')),
 (61, 930, 4, Decimal('8.0000000000000000'), Decimal('-4.0000000000000000')),
 (61, 951, 6, Decimal('7.0000000000000000'), Decimal('-1.0000000000000000')),
 (110, 91, 5, Decimal('7.0000000000000000'), Decimal('-2.0000000000000000')),
 (110, 101, 3, Decimal('7.0000000000000000'), Decimal('-4.0000000000000000')),
 (110, 169, 3, Decimal('4.0000000000000000'), Decimal('-1.0000000000000000')),
 (110, 185, 3, Decimal('2.0000000000000000'), Decimal('1.0000000000000000')),
 (110, 416, 6, Decimal('3.0000000000000000'), Decimal('3.0000000000000000')),
 (110, 483, 3, Decimal('1.00000000000000000000'), Decimal('2.00000000000000000000')),
 (110, 489, 4, Decimal('5.0000000000000000'), Decimal('-1.0000000000000000')),
 (110, 596, 4, Decimal('3.0000000000000000'), Decimal('1.0000000000000000')),
 (110, 651, 3, Decimal('3.0000000000000000'), Decimal('0E-16')),
 (110, 662, 3, Decimal('6.0000000000000000'), Decimal('-3.0000000000000000')),
 (110, 700, 4, Decimal('1.00000000000000000000'), Decimal('3.00000000000000000000')),
 (110, 739, 4, Decimal('7.0000000000000000'), Decimal('-3.0000000000000000')),
 (110, 936, 3, Decimal('9.0000000000000000'), Decimal('-6.0000000000000000')),
 (110, 973, 3, Decimal('3.0000000000000000'), Decimal('0E-16')),
 (281, 43, 6, Decimal('9.0000000000000000'), Decimal('-3.0000000000000000')),
 (281, 80, 7, Decimal('6.0000000000000000'), Decimal('1.0000000000000000')),
 (281, 97, 7, Decimal('5.0000000000000000'), Decimal('2.0000000000000000')),
 (281, 160, 4, Decimal('6.0000000000000000'), Decimal('-2.0000000000000000')),
 (281, 242, 4, Decimal('9.0000000000000000'), Decimal('-5.0000000000000000')),
 (281, 266, 4, Decimal('3.0000000000000000'), Decimal('1.0000000000000000')),
 (281, 373, 7, Decimal('1.00000000000000000000'), Decimal('6.00000000000000000000')),
 (281, 489, 4, Decimal('9.0000000000000000'), Decimal('-5.0000000000000000')),
 (281, 509, 5, Decimal('3.0000000000000000'), Decimal('2.0000000000000000')),
 (281, 651, 3, Decimal('9.0000000000000000'), Decimal('-6.0000000000000000')),
 (281, 710, 4, Decimal('4.0000000000000000'), Decimal('0E-16')),
 (281, 890, 5, Decimal('8.0000000000000000'), Decimal('-3.0000000000000000')),
 (281, 958, 6, Decimal('1.00000000000000000000'), Decimal('5.00000000000000000000')),
 (281, 978, 3, Decimal('4.0000000000000000'), Decimal('-1.0000000000000000')),
 (318, 21, 3, Decimal('2.0000000000000000'), Decimal('1.0000000000000000')),
 (318, 85, 4, Decimal('9.0000000000000000'), Decimal('-5.0000000000000000')),
 (318, 261, 5, Decimal('1.00000000000000000000'), Decimal('4.00000000000000000000')),
 (318, 415, 3, Decimal('9.0000000000000000'), Decimal('-6.0000000000000000')),
 (318, 418, 5, Decimal('7.0000000000000000'), Decimal('-2.0000000000000000')),
 (318, 594, 6, Decimal('0E-20'), Decimal('6.00000000000000000000')),
 (318, 670, 4, Decimal('7.0000000000000000'), Decimal('-3.0000000000000000')),
 (318, 794, 5, Decimal('7.0000000000000000'), Decimal('-2.0000000000000000')),
 (318, 806, 4, Decimal('1.00000000000000000000'), Decimal('3.00000000000000000000')),
 (318, 882, 4, Decimal('1.00000000000000000000'), Decimal('3.00000000000000000000')),
 (318, 932, 3, Decimal('5.0000000000000000'), Decimal('-2.0000000000000000')),
 (318, 933, 4, Decimal('9.0000000000000000'), Decimal('-5.0000000000000000'))]

[Helpful Hints Video](https://youtu.be/cm1_d1qWLhg)  
 

--- 

# 2

### For each store (inventory.store_id), list the top three films that have been rented based on accumulated rental durations.

Hint: Use the `rank()` function and a derived table

In [11]:
%%sql
EXPLAIN
SELECT rnked, film_id, store_id, duration
FROM (
SELECT RANK() OVER (PARTITION BY store_id ORDER BY duration DESC) as rnked, film_id, store_id, duration
FROM(
    SELECT SUM(return_date - rental_date) as duration, f.film_id, store_id
    FROM rental as r JOIN inventory as i ON r.inventory_id = i.inventory_id JOIN film as f ON i.film_id = f.film_id
    WHERE return_date - rental_date IS NOT NULL
    GROUP BY f.film_id, store_id) as first) as second
WHERE rnked = 1 OR rnked = 2 OR rnked = 3

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
18 rows affected.

[('Subquery Scan on second  (cost=948.44..1023.44 rows=30 width=30)',),
 ('  Filter: ((second.rnked = 1) OR (second.rnked = 2) OR (second.rnked = 3))',),
 ('  ->  WindowAgg  (cost=948.44..988.44 rows=2000 width=30)',),
 ('        ->  Sort  (cost=948.44..953.44 rows=2000 width=22)',),
 ('              Sort Key: first.store_id, first.duration DESC',),
 ('              ->  Subquery Scan on first  (cost=798.78..838.78 rows=2000 width=22)',),
 ('                    ->  HashAggregate  (cost=798.78..818.78 rows=2000 width=22)',),
 ('                          Group Key: f.film_id, i.store_id',),
 ('                          ->  Hash Join  (cost=204.57..639.14 rows=15964 width=22)',),
 ('                                Hash Cond: (i.film_id = f.film_id)',),
 ('                                ->  Hash Join  (cost=128.07..520.56 rows=15964 width=20)',),
 ('                                      Hash Cond: (r.inventory_id = i.inventory_id)',),
 ('                                      ->  Seq Scan on rental r  (cost=0.00..350.55 rows=15964 width=20)',),
 ('                                            Filter: ((return_date - rental_date) IS NOT NULL)',),
 ('                                      ->  Hash  (cost=70.81..70.81 rows=4581 width=8)',),
 ('                                            ->  Seq Scan on inventory i  (cost=0.00..70.81 rows=4581 width=8)',),
 ('                                ->  Hash  (cost=64.00..64.00 rows=1000 width=4)',),
 ('                                      ->  Seq Scan on film f  (cost=0.00..64.00 rows=1000 width=4)',)]

In [12]:
%%sql

SELECT rnked, film_id, store_id, duration
FROM (
SELECT RANK() OVER (PARTITION BY store_id ORDER BY duration DESC) as rnked, film_id, store_id, duration
FROM(
    SELECT SUM(return_date - rental_date) as duration, f.film_id, store_id
    FROM rental as r JOIN inventory as i ON r.inventory_id = i.inventory_id JOIN film as f ON i.film_id = f.film_id
    WHERE return_date - rental_date IS NOT NULL
    GROUP BY f.film_id, store_id) as first) as second
WHERE rnked = 1 OR rnked = 2 OR rnked = 3

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
6 rows affected.

[(1, 971, 1, datetime.timedelta(days=111, seconds=37260)),
 (2, 109, 1, datetime.timedelta(days=105, seconds=51420)),
 (3, 852, 1, datetime.timedelta(days=104, seconds=33540)),
 (1, 552, 2, datetime.timedelta(days=104, seconds=62700)),
 (2, 891, 2, datetime.timedelta(days=100, seconds=68700)),
 (3, 491, 2, datetime.timedelta(days=100, seconds=29640))]

[Helpful Hints Video](https://youtu.be/COQem8x3kR4)  
 

--- 

# 3

### For each category, list the three longest movies

In [111]:
%%sql
EXPLAIN

SELECT done, film_id, category_id, length
FROM(
SELECT RANK() over (PARTITION BY category_id ORDER BY LENGTH DESC) as done, f.film_id, category_id, length
FROM film_category as fc JOIN film as f ON fc.film_id = f.film_id ) as ranked
WHERE done = 1 OR done = 2 OR done = 3 
ORDER BY category_id, done

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
12 rows affected.

[('Sort  (cost=182.76..182.80 rows=15 width=16)',),
 ('  Sort Key: ranked.category_id, ranked.done',),
 ('  ->  Subquery Scan on ranked  (cost=144.97..182.47 rows=15 width=16)',),
 ('        Filter: ((ranked.done = 1) OR (ranked.done = 2) OR (ranked.done = 3))',),
 ('        ->  WindowAgg  (cost=144.97..164.97 rows=1000 width=16)',),
 ('              ->  Sort  (cost=144.97..147.47 rows=1000 width=8)',),
 ('                    Sort Key: fc.category_id, f.length DESC',),
 ('                    ->  Hash Join  (cost=76.50..95.14 rows=1000 width=8)',),
 ('                          Hash Cond: (fc.film_id = f.film_id)',),
 ('                          ->  Seq Scan on film_category fc  (cost=0.00..16.00 rows=1000 width=4)',),
 ('                          ->  Hash  (cost=64.00..64.00 rows=1000 width=6)',),
 ('                                ->  Seq Scan on film f  (cost=0.00..64.00 rows=1000 width=6)',)]

In [110]:
%%sql
SELECT done, film_id, category_id, length
FROM(
SELECT RANK() over (PARTITION BY category_id ORDER BY LENGTH DESC) as done, f.film_id, category_id, length
FROM film_category as fc JOIN film as f ON fc.film_id = f.film_id ) as ranked
WHERE done = 1 OR done = 2 OR done = 3 
ORDER BY category_id, done

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
53 rows affected.

[(1, 991, 1, 185),
 (1, 212, 1, 185),
 (3, 126, 1, 179),
 (1, 690, 2, 185),
 (1, 349, 2, 185),
 (3, 886, 2, 184),
 (3, 820, 2, 184),
 (1, 993, 3, 178),
 (1, 344, 3, 178),
 (3, 280, 3, 177),
 (1, 180, 4, 184),
 (2, 249, 4, 176),
 (3, 523, 4, 174),
 (1, 182, 5, 185),
 (2, 765, 5, 182),
 (2, 774, 5, 182),
 (1, 996, 6, 183),
 (1, 973, 6, 183),
 (3, 129, 6, 179),
 (1, 473, 7, 181),
 (2, 818, 7, 180),
 (3, 803, 7, 179),
 (3, 897, 7, 179),
 (3, 944, 7, 179),
 (1, 499, 8, 184),
 (2, 50, 8, 182),
 (3, 557, 8, 177),
 (1, 198, 9, 184),
 (1, 821, 9, 184),
 (3, 128, 9, 183),
 (1, 141, 10, 185),
 (2, 597, 10, 184),
 (3, 591, 10, 182),
 (1, 535, 11, 181),
 (1, 24, 11, 181),
 (3, 885, 11, 179),
 (1, 426, 12, 185),
 (2, 767, 12, 183),
 (3, 721, 12, 182),
 (1, 340, 13, 183),
 (2, 974, 13, 181),
 (2, 751, 13, 181),
 (1, 817, 14, 185),
 (2, 296, 14, 178),
 (3, 298, 14, 172),
 (3, 177, 14, 172),
 (1, 813, 15, 184),
 (2, 719, 15, 182),
 (3, 841, 15, 181),
 (1, 872, 16, 185),
 (1, 609, 16, 185),
 (3, 496, 16, 179),
 (3, 88, 16, 179)]

# 4

### For each customer, list their two shortest movie rentals.

In [122]:
%%sql
EXPLAIN
SELECT rnked, customer_id, rental_id, duration
FROM (
SELECT RANK() OVER (PARTITION BY customer_id ORDER BY duration ASC) as rnked, customer_id, rental_id, duration
FROM(
    SELECT return_date - rental_date as duration, rental_id, customer_id
    FROM rental as r 
    WHERE return_date - rental_date IS NOT NULL) as first) as second
WHERE rnked = 1 OR rnked = 2

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
7 rows affected.

[('Subquery Scan on second  (cost=1504.95..2103.60 rows=159 width=30)',),
 ('  Filter: ((second.rnked = 1) OR (second.rnked = 2))',),
 ('  ->  WindowAgg  (cost=1504.95..1864.14 rows=15964 width=30)',),
 ('        ->  Sort  (cost=1504.95..1544.86 rows=15964 width=22)',),
 ('              Sort Key: r.customer_id, ((r.return_date - r.rental_date))',),
 ('              ->  Seq Scan on rental r  (cost=0.00..390.46 rows=15964 width=22)',),
 ('                    Filter: ((return_date - rental_date) IS NOT NULL)',)]

In [121]:
%%sql
SELECT rnked, customer_id, rental_id, duration
FROM (
SELECT RANK() OVER (PARTITION BY customer_id ORDER BY duration ASC) as rnked, customer_id, rental_id, duration
FROM(
    SELECT return_date - rental_date as duration, rental_id, customer_id
    FROM rental as r 
    WHERE return_date - rental_date IS NOT NULL) as first) as second
WHERE rnked = 1 OR rnked = 2

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
1198 rows affected.

[(1, 1, 14762, datetime.timedelta(days=1, seconds=7020)),
 (2, 1, 8074, datetime.timedelta(days=1, seconds=9840)),
 (1, 2, 10918, datetime.timedelta(seconds=69180)),
 (2, 2, 320, datetime.timedelta(days=1, seconds=15660)),
 (1, 3, 7911, datetime.timedelta(seconds=70380)),
 (2, 3, 15038, datetime.timedelta(days=1, seconds=18120)),
 (1, 4, 12151, datetime.timedelta(seconds=85080)),
 (2, 4, 1633, datetime.timedelta(days=1, seconds=11040)),
 (1, 5, 5016, datetime.timedelta(seconds=72600)),
 (2, 5, 10625, datetime.timedelta(seconds=78540)),
 (1, 6, 916, datetime.timedelta(seconds=78060)),
 (2, 6, 6686, datetime.timedelta(days=1, seconds=20280)),
 (1, 7, 10514, datetime.timedelta(days=1, seconds=72840)),
 (2, 7, 2888, datetime.timedelta(days=2, seconds=11700)),
 (1, 8, 3114, datetime.timedelta(days=1, seconds=4860)),
 (2, 8, 4003, datetime.timedelta(days=1, seconds=15480)),
 (1, 9, 12309, datetime.timedelta(days=1, seconds=73320)),
 (2, 9, 11556, datetime.timedelta(days=1, seconds=81000)),
 (1, 10, 2865, datetime.timedelta(days=1, seconds=8400)),
 (2, 10, 5444, datetime.timedelta(days=1, seconds=18660)),
 (1, 11, 15240, datetime.timedelta(seconds=76920)),
 (2, 11, 15120, datetime.timedelta(days=1, seconds=5940)),
 (1, 12, 5071, datetime.timedelta(seconds=65280)),
 (2, 12, 5111, datetime.timedelta(seconds=84300)),
 (1, 13, 7916, datetime.timedelta(days=1, seconds=11520)),
 (2, 13, 13096, datetime.timedelta(days=1, seconds=67440)),
 (1, 14, 12668, datetime.timedelta(seconds=76500)),
 (2, 14, 4952, datetime.timedelta(seconds=82020)),
 (1, 15, 3182, datetime.timedelta(seconds=79680)),
 (2, 15, 7105, datetime.timedelta(days=1, seconds=2040)),
 (1, 16, 13151, datetime.timedelta(seconds=84600)),
 (2, 16, 7552, datetime.timedelta(days=1, seconds=1260)),
 (1, 17, 9138, datetime.timedelta(seconds=75240)),
 (2, 17, 9489, datetime.timedelta(seconds=75720)),
 (1, 18, 9036, datetime.timedelta(seconds=68640)),
 (2, 18, 116, datetime.timedelta(seconds=75360)),
 (1, 19, 3549, datetime.timedelta(seconds=69360)),
 (2, 19, 15529, datetime.timedelta(seconds=76380)),
 (1, 20, 11821, datetime.timedelta(seconds=67200)),
 (2, 20, 13317, datetime.timedelta(days=1, seconds=5520)),
 (1, 21, 5107, datetime.timedelta(days=1, seconds=5940)),
 (2, 21, 14869, datetime.timedelta(days=1, seconds=7500)),
 (1, 22, 3419, datetime.timedelta(seconds=78600)),
 (2, 22, 9410, datetime.timedelta(seconds=83940)),
 (1, 23, 2827, datetime.timedelta(seconds=79440)),
 (2, 23, 13557, datetime.timedelta(seconds=80460)),
 (1, 24, 2116, datetime.timedelta(seconds=74820)),
 (2, 24, 12745, datetime.timedelta(days=1, seconds=12120)),
 (1, 25, 11642, datetime.timedelta(seconds=75900)),
 (2, 25, 1033, datetime.timedelta(days=1, seconds=75780)),
 (1, 26, 4402, datetime.timedelta(seconds=70560)),
 (2, 26, 2532, datetime.timedelta(days=1, seconds=2880)),
 (1, 27, 1699, datetime.timedelta(seconds=74880)),
 (2, 27, 1310, datetime.timedelta(days=1, seconds=17340)),
 (1, 28, 15491, datetime.timedelta(seconds=65700)),
 (2, 28, 12359, datetime.timedelta(seconds=67320)),
 (1, 29, 14703, datetime.timedelta(seconds=65520)),
 (2, 29, 2923, datetime.timedelta(days=1, seconds=2880)),
 (1, 30, 3964, datetime.timedelta(seconds=86280)),
 (2, 30, 13682, datetime.timedelta(days=1, seconds=900)),
 (1, 31, 3205, datetime.timedelta(seconds=79860)),
 (2, 31, 2438, datetime.timedelta(seconds=80160)),
 (1, 32, 803, datetime.timedelta(seconds=74580)),
 (2, 32, 1067, datetime.timedelta(seconds=75780)),
 (1, 33, 10870, datetime.timedelta(seconds=70380)),
 (2, 33, 5421, datetime.timedelta(seconds=70860)),
 (1, 34, 12286, datetime.timedelta(seconds=66180)),
 (2, 34, 10615, datetime.timedelta(seconds=81600)),
 (1, 35, 12055, datetime.timedelta(seconds=66120)),
 (2, 35, 6565, datetime.timedelta(seconds=70080)),
 (1, 36, 10963, datetime.timedelta(seconds=66420)),
 (2, 36, 349, datetime.timedelta(days=1, seconds=6000)),
 (1, 37, 10538, datetime.timedelta(seconds=79740)),
 (2, 37, 15904, datetime.timedelta(days=1, seconds=12780)),
 (1, 38, 12092, datetime.timedelta(seconds=65880)),
 (2, 38, 9216, datetime.timedelta(seconds=80160)),
 (1, 39, 10269, datetime.timedelta(seconds=75120)),
 (2, 39, 2135, datetime.timedelta(days=1, seconds=13500)),
 (1, 40, 3428, datetime.timedelta(seconds=85440)),
 (2, 40, 9700, datetime.timedelta(days=2, seconds=8640)),
 (1, 41, 7153, datetime.timedelta(days=1, seconds=9660)),
 (2, 41, 8225, datetime.timedelta(days=1, seconds=12480)),
 (1, 42, 8785, datetime.timedelta(seconds=66600)),
 (2, 42, 12499, datetime.timedelta(seconds=66960)),
 (1, 43, 652, datetime.timedelta(seconds=67740)),
 (2, 43, 5831, datetime.timedelta(seconds=78780)),
 (1, 44, 11364, datetime.timedelta(seconds=73380)),
 (2, 44, 2866, datetime.timedelta(seconds=77880)),
 (1, 45, 6001, datetime.timedelta(seconds=77460)),
 (2, 45, 11725, datetime.timedelta(days=1, seconds=6060)),
 (1, 46, 11721, datetime.timedelta(seconds=73140)),
 (2, 46, 7336, datetime.timedelta(seconds=74940)),
 (1, 47, 207, datetime.timedelta(days=1, seconds=5280)),
 (2, 47, 3631, datetime.timedelta(days=1, seconds=14160)),
 (1, 48, 297, datetime.timedelta(seconds=83040)),
 (2, 48, 10276, datetime.timedelta(days=2, seconds=16620)),
 (1, 49, 5491, datetime.timedelta(days=1, seconds=8160)),
 (2, 49, 9006, datetime.timedelta(days=1, seconds=11880)),
 (1, 50, 10261, datetime.timedelta(seconds=68220)),
 (2, 50, 16015, datetime.timedelta(seconds=81600)),
 (1, 51, 1028, datetime.timedelta(days=1, seconds=180)),
 (2, 51, 13882, datetime.timedelta(days=1, seconds=78000)),
 (1, 52, 12200, datetime.timedelta(seconds=66900)),
 (2, 52, 14820, datetime.timedelta(days=1, seconds=66360)),
 (1, 53, 14671, datetime.timedelta(seconds=85200)),
 (2, 53, 5185, datetime.timedelta(days=1, seconds=11820)),
 (1, 54, 12526, datetime.timedelta(seconds=73020)),
 (2, 54, 4657, datetime.timedelta(seconds=85080)),
 (1, 55, 9302, datetime.timedelta(seconds=66840)),
 (2, 55, 9798, datetime.timedelta(seconds=74520)),
 (1, 56, 7385, datetime.timedelta(seconds=79260)),
 (2, 56, 2140, datetime.timedelta(days=1, seconds=10920)),
 (1, 57, 3357, datetime.timedelta(seconds=69840)),
 (2, 57, 9136, datetime.timedelta(seconds=79980)),
 (1, 58, 7487, datetime.timedelta(seconds=70740)),
 (2, 58, 4131, datetime.timedelta(seconds=75300)),
 (1, 59, 7991, datetime.timedelta(days=1, seconds=1200)),
 (2, 59, 951, datetime.timedelta(days=1, seconds=10260)),
 (1, 60, 15093, datetime.timedelta(seconds=67020)),
 (2, 60, 1482, datetime.timedelta(seconds=71340)),
 (1, 61, 8075, datetime.timedelta(seconds=65940)),
 (2, 61, 1157, datetime.timedelta(days=1, seconds=69240)),
 (1, 62, 1486, datetime.timedelta(seconds=69060)),
 (2, 62, 3843, datetime.timedelta(days=1, seconds=6840)),
 (1, 63, 15229, datetime.timedelta(seconds=74580)),
 (2, 63, 9546, datetime.timedelta(days=2, seconds=20280)),
 (1, 64, 1335, datetime.timedelta(days=1, seconds=17460)),
 (2, 64, 12409, datetime.timedelta(days=1, seconds=19140)),
 (1, 65, 13692, datetime.timedelta(seconds=72600)),
 (2, 65, 295, datetime.timedelta(seconds=78600)),
 (1, 66, 4108, datetime.timedelta(days=1, seconds=14760)),
 (2, 66, 3573, datetime.timedelta(days=1, seconds=68760)),
 (1, 67, 14967, datetime.timedelta(seconds=65760)),
 (2, 67, 4090, datetime.timedelta(seconds=81480)),
 (1, 68, 13475, datetime.timedelta(seconds=69420)),
 (2, 68, 2633, datetime.timedelta(seconds=82980)),
 (1, 69, 14685, datetime.timedelta(days=1, seconds=1860)),
 (2, 69, 15547, datetime.timedelta(days=2, seconds=73920)),
 (1, 70, 8747, datetime.timedelta(seconds=75240)),
 (2, 70, 8550, datetime.timedelta(days=1, seconds=13980)),
 (1, 71, 5770, datetime.timedelta(seconds=70680)),
 (2, 71, 12417, datetime.timedelta(seconds=82740)),
 (1, 72, 11923, datetime.timedelta(seconds=79500)),
 (2, 72, 785, datetime.timedelta(days=1, seconds=2580)),
 (1, 73, 11155, datetime.timedelta(seconds=72300)),
 (2, 73, 7590, datetime.timedelta(seconds=73740)),
 (1, 74, 15325, datetime.timedelta(seconds=68220)),
 (2, 74, 5603, datetime.timedelta(days=1, seconds=75000)),
 (1, 75, 268, datetime.timedelta(seconds=80160)),
 (2, 75, 3711, datetime.timedelta(seconds=81540)),
 (1, 76, 10082, datetime.timedelta(seconds=70320)),
 (2, 76, 5571, datetime.timedelta(seconds=80460)),
 (1, 77, 4928, datetime.timedelta(days=1, seconds=3840)),
 (2, 77, 586, datetime.timedelta(days=1, seconds=4380)),
 (1, 78, 14620, datetime.timedelta(seconds=76140)),
 (2, 78, 14716, datetime.timedelta(days=1, seconds=75900)),
 (1, 79, 5555, datetime.timedelta(seconds=80880)),
 (2, 79, 9989, datetime.timedelta(days=1, seconds=5580)),
 (1, 80, 3623, datetime.timedelta(seconds=86040)),
 (2, 80, 11839, datetime.timedelta(days=1, seconds=7020)),
 (1, 81, 14128, datetime.timedelta(seconds=71280)),
 (2, 81, 15602, datetime.timedelta(days=1, seconds=2100)),
 (1, 82, 3680, datetime.timedelta(days=1, seconds=81360)),
 (2, 82, 8487, datetime.timedelta(days=2, seconds=1020)),
 (1, 83, 15498, datetime.timedelta(seconds=71820)),
 (2, 83, 6861, datetime.timedelta(seconds=72360)),
 (1, 84, 1815, datetime.timedelta(seconds=69660)),
 (2, 84, 11960, datetime.timedelta(seconds=75840)),
 (1, 85, 10328, datetime.timedelta(seconds=66360)),
 (2, 85, 9985, datetime.timedelta(seconds=68220)),
 (1, 86, 1924, datetime.timedelta(seconds=70680)),
 (2, 86, 1640, datetime.timedelta(seconds=75720)),
 (1, 87, 1904, datetime.timedelta(seconds=69060)),
 (2, 87, 15890, datetime.timedelta(seconds=69900)),
 (1, 88, 1433, datetime.timedelta(seconds=74640)),
 (2, 88, 2878, datetime.timedelta(days=1, seconds=73860)),
 (1, 89, 588, datetime.timedelta(days=1, seconds=15420)),
 (2, 89, 15845, datetime.timedelta(days=1, seconds=66480)),
 (1, 90, 9337, datetime.timedelta(seconds=66480)),
 (2, 90, 11516, datetime.timedelta(seconds=72660)),
 (1, 91, 14888, datetime.timedelta(days=1, seconds=12300)),
 (2, 91, 3802, datetime.timedelta(days=1, seconds=66420)),
 (1, 92, 6158, datetime.timedelta(days=1, seconds=68340)),
 (2, 92, 5919, datetime.timedelta(days=1, seconds=69300)),
 (1, 93, 6287, datetime.timedelta(seconds=72960)),
 (2, 93, 15631, datetime.timedelta(seconds=85980)),
 (1, 94, 1213, datetime.timedelta(seconds=66420)),
 (2, 94, 2816, datetime.timedelta(days=1, seconds=3900)),
 (1, 95, 4000, datetime.timedelta(days=1, seconds=78300)),
 (2, 95, 3426, datetime.timedelta(days=2, seconds=600)),
 (1, 96, 3463, datetime.timedelta(seconds=76920)),
 (2, 96, 8125, datetime.timedelta(days=1, seconds=20280)),
 (1, 97, 10820, datetime.timedelta(seconds=68760)),
 (2, 97, 2083, datetime.timedelta(days=1, seconds=4620)),
 (1, 98, 9753, datetime.timedelta(seconds=84180)),
 (2, 98, 2601, datetime.timedelta(days=1, seconds=6840)),
 (1, 99, 8514, datetime.timedelta(seconds=74460)),
 (2, 99, 6289, datetime.timedelta(seconds=82080)),
 (1, 100, 5238, datetime.timedelta(seconds=65760)),
 (2, 100, 1427, datetime.timedelta(seconds=77400)),
 (1, 101, 10407, datetime.timedelta(seconds=79200)),
 (2, 101, 5100, datetime.timedelta(days=1, seconds=14700)),
 (1, 102, 7247, datetime.timedelta(days=1, seconds=66480)),
 (2, 102, 7119, datetime.timedelta(days=1, seconds=77040)),
 (1, 103, 8302, datetime.timedelta(seconds=79620)),
 (2, 103, 2197, datetime.timedelta(seconds=85260)),
 (1, 104, 4917, datetime.timedelta(seconds=64920)),
 (2, 104, 4520, datetime.timedelta(seconds=70440)),
 (1, 105, 485, datetime.timedelta(seconds=82800)),
 (2, 105, 7442, datetime.timedelta(days=1, seconds=13800)),
 (1, 106, 14920, datetime.timedelta(seconds=78180)),
 (2, 106, 1156, datetime.timedelta(days=1, seconds=1500)),
 (1, 107, 14562, datetime.timedelta(days=1, seconds=17580)),
 (2, 107, 2860, datetime.timedelta(days=1, seconds=20340)),
 (1, 108, 3116, datetime.timedelta(seconds=65280)),
 (2, 108, 13754, datetime.timedelta(days=2, seconds=2220)),
 (1, 109, 9871, datetime.timedelta(seconds=85620)),
 (2, 109, 1106, datetime.timedelta(seconds=86220)),
 (1, 110, 7570, datetime.timedelta(days=1, seconds=2040)),
 (2, 110, 4317, datetime.timedelta(days=1, seconds=14640)),
 (1, 111, 9933, datetime.timedelta(seconds=66960)),
 (2, 111, 8525, datetime.timedelta(seconds=70140)),
 (1, 112, 10038, datetime.timedelta(seconds=83580)),
 (2, 112, 7691, datetime.timedelta(days=1, seconds=64860)),
 (1, 113, 6025, datetime.timedelta(seconds=76320)),
 (2, 113, 4333, datetime.timedelta(days=1, seconds=10500)),
 (1, 114, 7316, datetime.timedelta(seconds=66240)),
 (2, 114, 255, datetime.timedelta(seconds=78780)),
 (1, 115, 7983, datetime.timedelta(seconds=77280)),
 (2, 115, 10919, datetime.timedelta(days=1, seconds=85080)),
 (1, 116, 5169, datetime.timedelta(seconds=66360)),
 (2, 116, 3940, datetime.timedelta(seconds=79260)),
 (1, 117, 5673, datetime.timedelta(seconds=77580)),
 (2, 117, 12618, datetime.timedelta(seconds=79080)),
 (1, 118, 15731, datetime.timedelta(seconds=71160)),
 (2, 118, 14924, datetime.timedelta(days=1, seconds=17760)),
 (1, 119, 10681, datetime.timedelta(seconds=76680)),
 (2, 119, 2009, datetime.timedelta(seconds=78360)),
 (1, 120, 2169, datetime.timedelta(days=1, seconds=73020)),
 (2, 120, 10161, datetime.timedelta(days=1, seconds=77820)),
 (1, 121, 1634, datetime.timedelta(seconds=73980)),
 (2, 121, 6780, datetime.timedelta(days=1, seconds=5880)),
 (1, 122, 1135, datetime.timedelta(seconds=70140)),
 (2, 122, 11197, datetime.timedelta(seconds=76920)),
 (1, 123, 1751, datetime.timedelta(seconds=69120)),
 (2, 123, 10066, datetime.timedelta(seconds=69300)),
 (1, 124, 775, datetime.timedelta(seconds=66600)),
 (2, 124, 15266, datetime.timedelta(seconds=82620)),
 (1, 125, 7323, datetime.timedelta(days=1, seconds=68760)),
 (2, 125, 11832, datetime.timedelta(days=1, seconds=70560)),
 (1, 126, 6747, datetime.timedelta(seconds=69960)),
 (2, 126, 4691, datetime.timedelta(seconds=74640)),
 (1, 127, 11235, datetime.timedelta(seconds=65040)),
 (2, 127, 14189, datetime.timedelta(days=1, seconds=4440)),
 (1, 128, 12843, datetime.timedelta(seconds=80520)),
 (2, 128, 1131, datetime.timedelta(days=1, seconds=5340)),
 (1, 129, 13961, datetime.timedelta(seconds=79080)),
 (2, 129, 14353, datetime.timedelta(days=1, seconds=5040)),
 (1, 130, 4339, datetime.timedelta(seconds=65940)),
 (2, 130, 7181, datetime.timedelta(seconds=68100)),
 (1, 131, 11971, datetime.timedelta(seconds=65880)),
 (2, 131, 16042, datetime.timedelta(seconds=70440)),
 (1, 132, 2924, datetime.timedelta(seconds=75180)),
 (2, 132, 7432, datetime.timedelta(days=1, seconds=780)),
 (1, 133, 15080, datetime.timedelta(days=1, seconds=7080)),
 (2, 133, 12419, datetime.timedelta(days=1, seconds=13140)),
 (1, 134, 12987, datetime.timedelta(seconds=75960)),
 (2, 134, 1881, datetime.timedelta(seconds=81600)),
 (1, 135, 8315, datetime.timedelta(seconds=71100)),
 (2, 135, 7437, datetime.timedelta(days=1, seconds=3240)),
 (1, 136, 12539, datetime.timedelta(days=1, seconds=20040)),
 (2, 136, 2104, datetime.timedelta(days=1, seconds=76320)),
 (1, 137, 15537, datetime.timedelta(seconds=78300)),
 (2, 137, 9002, datetime.timedelta(seconds=86160)),
 (1, 138, 10190, datetime.timedelta(seconds=72300)),
 (2, 138, 7754, datetime.timedelta(seconds=74160)),
 (1, 139, 1169, datetime.timedelta(days=1, seconds=15600)),
 (2, 139, 6740, datetime.timedelta(days=2, seconds=780)),
 (1, 140, 7170, datetime.timedelta(seconds=66720)),
 (2, 140, 1687, datetime.timedelta(days=1, seconds=65340)),
 (1, 141, 5769, datetime.timedelta(seconds=80100)),
 (2, 141, 7878, datetime.timedelta(days=1, seconds=3300)),
 (1, 142, 13044, datetime.timedelta(days=1, seconds=7320)),
 (2, 142, 13959, datetime.timedelta(days=1, seconds=70800)),
 (1, 143, 12408, datetime.timedelta(seconds=68700)),
 (2, 143, 2574, datetime.timedelta(days=1, seconds=3660)),
 (1, 144, 10302, datetime.timedelta(seconds=64800)),
 (2, 144, 9174, datetime.timedelta(seconds=79800)),
 (1, 145, 12637, datetime.timedelta(seconds=84600)),
 (2, 145, 6056, datetime.timedelta(days=1, seconds=780)),
 (1, 146, 11857, datetime.timedelta(days=1, seconds=7620)),
 (2, 146, 11221, datetime.timedelta(days=1, seconds=16860)),
 (1, 147, 2859, datetime.timedelta(seconds=84000)),
 (2, 147, 6343, datetime.timedelta(seconds=84120)),
 (1, 148, 682, datetime.timedelta(seconds=69660)),
 (2, 148, 4950, datetime.timedelta(seconds=78180)),
 (1, 149, 5091, datetime.timedelta(seconds=75420)),
 (2, 149, 6356, datetime.timedelta(days=1, seconds=6180)),
 (1, 150, 12890, datetime.timedelta(seconds=69960)),
 (2, 150, 7690, datetime.timedelta(seconds=74520)),
 (1, 151, 11714, datetime.timedelta(seconds=73980)),
 (2, 151, 9253, datetime.timedelta(seconds=76260)),
 (1, 152, 12917, datetime.timedelta(seconds=81420)),
 (2, 152, 14173, datetime.timedelta(seconds=85140)),
 (1, 153, 2224, datetime.timedelta(seconds=67020)),
 (2, 153, 15267, datetime.timedelta(days=1, seconds=20700)),
 (1, 154, 15351, datetime.timedelta(seconds=73380)),
 (2, 154, 9286, datetime.timedelta(days=1, seconds=18600)),
 (1, 155, 14753, datetime.timedelta(seconds=83640)),
 (2, 155, 14549, datetime.timedelta(days=1, seconds=5280)),
 (1, 156, 14831, datetime.timedelta(days=1, seconds=4020)),
 (2, 156, 5828, datetime.timedelta(days=1, seconds=8100)),
 (1, 157, 7110, datetime.timedelta(seconds=72780)),
 (2, 157, 9237, datetime.timedelta(days=1, seconds=540)),
 (1, 158, 245, datetime.timedelta(seconds=72720)),
 (2, 158, 1790, datetime.timedelta(seconds=84780)),
 (1, 159, 475, datetime.timedelta(seconds=78120)),
 (2, 159, 8470, datetime.timedelta(days=1, seconds=18720)),
 (1, 160, 10089, datetime.timedelta(seconds=82620)),
 (2, 160, 2314, datetime.timedelta(days=1, seconds=11460)),
 (1, 161, 4490, datetime.timedelta(seconds=85620)),
 (2, 161, 10355, datetime.timedelta(days=1, seconds=13260)),
 (1, 162, 3180, datetime.timedelta(seconds=81420)),
 (2, 162, 9775, datetime.timedelta(seconds=82620)),
 (1, 163, 15847, datetime.timedelta(seconds=72420)),
 (2, 163, 11940, datetime.timedelta(seconds=79980)),
 (1, 164, 6702, datetime.timedelta(seconds=83220)),
 (2, 164, 6558, datetime.timedelta(days=1, seconds=960)),
 (1, 165, 5472, datetime.timedelta(seconds=70020)),
 (2, 165, 10565, datetime.timedelta(seconds=76920)),
 (1, 166, 3085, datetime.timedelta(days=1, seconds=4140)),
 (2, 166, 12968, datetime.timedelta(days=1, seconds=6660)),
 (1, 167, 7608, datetime.timedelta(seconds=65100)),
 (2, 167, 15050, datetime.timedelta(seconds=67080)),
 (1, 168, 11551, datetime.timedelta(days=1, seconds=77280)),
 (2, 168, 12781, datetime.timedelta(days=2, seconds=9660)),
 (1, 169, 15534, datetime.timedelta(seconds=86340)),
 (2, 169, 14805, datetime.timedelta(days=1, seconds=9360)),
 (1, 170, 13081, datetime.timedelta(seconds=70200)),
 (2, 170, 3651, datetime.timedelta(days=1, seconds=71940)),
 (1, 171, 6774, datetime.timedelta(days=1, seconds=9960)),
 (2, 171, 2788, datetime.timedelta(days=1, seconds=67440)),
 (1, 172, 7638, datetime.timedelta(seconds=69660)),
 (2, 172, 7135, datetime.timedelta(seconds=73620)),
 (1, 173, 3336, datetime.timedelta(seconds=83700)),
 (2, 173, 3717, datetime.timedelta(days=1, seconds=10200)),
 (1, 174, 13185, datetime.timedelta(seconds=71460)),
 (2, 174, 9301, datetime.timedelta(days=1, seconds=7620)),
 (1, 175, 7448, datetime.timedelta(days=1, seconds=77820)),
 (2, 175, 12509, datetime.timedelta(days=1, seconds=82380)),
 (1, 176, 2218, datetime.timedelta(seconds=64980)),
 (2, 176, 7210, datetime.timedelta(seconds=69360)),
 (1, 177, 11195, datetime.timedelta(seconds=74820)),
 (2, 177, 14310, datetime.timedelta(days=1, seconds=4680)),
 (1, 178, 9004, datetime.timedelta(seconds=71100)),
 (2, 178, 10125, datetime.timedelta(seconds=77820)),
 (1, 179, 9893, datetime.timedelta(seconds=69180)),
 (2, 179, 13240, datetime.timedelta(seconds=75720)),
 (1, 180, 14109, datetime.timedelta(seconds=83820)),
 (2, 180, 5384, datetime.timedelta(days=2, seconds=66780)),
 (1, 181, 15482, datetime.timedelta(days=1, seconds=5040)),
 (2, 181, 11224, datetime.timedelta(days=1, seconds=76920)),
 (1, 182, 13285, datetime.timedelta(seconds=65700)),
 (2, 182, 161, datetime.timedelta(days=1, seconds=13860)),
 (1, 183, 4157, datetime.timedelta(days=1, seconds=3060)),

# 5

### List the quartile statististics of the movie lengths, grouped by release year.

In [141]:
%%sql
EXPLAIN

SELECT percentile_cont(.25) WITHIN GROUP (ORDER BY length),
        percentile_cont(.5) WITHIN GROUP (ORDER BY length),
        percentile_cont(.75) WITHIN GROUP (ORDER BY length),
        percentile_cont(1) WITHIN GROUP (ORDER BY length), 
        release_year
FROM film as f
GROUP BY release_year ;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
5 rows affected.

[('GroupAggregate  (cost=113.83..138.85 rows=1 width=36)',),
 ('  Group Key: release_year',),
 ('  ->  Sort  (cost=113.83..116.33 rows=1000 width=6)',),
 ('        Sort Key: release_year',),
 ('        ->  Seq Scan on film f  (cost=0.00..64.00 rows=1000 width=6)',)]

In [140]:
%%sql



SELECT percentile_cont(.25) WITHIN GROUP (ORDER BY length),
        percentile_cont(.5) WITHIN GROUP (ORDER BY length),
        percentile_cont(.75) WITHIN GROUP (ORDER BY length),
        percentile_cont(1) WITHIN GROUP (ORDER BY length), 
        release_year
FROM film as f
GROUP BY release_year ;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
1 rows affected.

[(80.0, 114.0, 149.25, 185.0, 2006)]

# Save your notebook, then `File > Close and Halt`