# Nested Query Exercise

Please remember to use the `EXPLAIN` before you execute a query to help avoid unnecessary load on the DBMS and indefinite waits by you for results.

Therefore, for each question, we are providing a cell for the `EXPLAIN` as well as the final SQL.


## Our practice schema:

We will be using the DVD rental schema for this exercise.

The ERD is available [here](../images/ERD-Rental.pdf).  
Printing is recommended.


<span style="font-weight:900; background:yellow">Each query should be implemented with at least one nested query.</span>

In [ ]:
%load_ext sql
%sql postgres://dsa_ro_user:readonly@pgsql.dsa.lan/dvdrental

# 1

### Which films have no rentals on the date of 2005-05-31

**HINT:** PostgreSQL can cast a _timestamp_ to a _date_ as so: `rental.rental_date::date`.

In [ ]:
%%sql
EXPLAIN

In [ ]:
%%sql

[Helpful Hints](https://youtu.be/MWpp2ioeAb8)  
 

--- 

# 2

### Which customers (name, phone number) have outstanding rentals (film name, rental_date)?

In [ ]:
%%sql
EXPLAIN

In [ ]:
%%sql

# 3

### List the movies that are not categorized as children's movies.

In [ ]:
%%sql
EXPLAIN

In [ ]:
%%sql

[Helpful Hints](https://youtu.be/9WR0ByMn__E)  
 

--- 

# 4

### List the names of the customers who have rented the 5 least popular movies.

**The five least popular movies are those movies with the least film rentals**

(Do not include movies that have never been rented, also do not worry about ties go with the 5 even though there may be other movies rented the same number of times as some in the 5 least popular.)

In [ ]:
%%sql
EXPLAIN

In [ ]:
%%sql

# 5

### List the movies that have been rented by the top ten renters.

In [ ]:
%%sql
EXPLAIN

In [ ]:
%%sql

# 6

### Consider the previous question and the answer SQL.  Now add a column to the result that is the total number of movie rentals for the _top-ten renters_ per film.

In [ ]:
%%sql
EXPLAIN

In [ ]:
%%sql

# 7

### List the city of rental stores, `store_id` and the movies that have not been rented from that store.

**Note:** A video walk through for this challenging SQL is provided below.

In [ ]:
%%sql
EXPLAIN

In [ ]:
%%sql

#### Helpful Hints
  1. For the first hint watch only the first 5:57 of the video where the conceptual aspects of the task are discussed.
  1. Then attempt to construct SQL based on the video explanation of the concept.
  1. If you get stuck again, the remainder of the video after that looks directly at the SQL construction.
  
[Helpful Hints](https://youtu.be/GyMODTEDfu4)

# Save your Notebook, then `File > Close and Halt`