# Accessing Data with Python

## Technologies: Pandas, SqlAlchemy, MatPlotLib

In this lab we will use some New York City Taxi Data.
This data exists in the following location:
 * Hostname: pgsql.dsa.lan
 * Database: nyc-taxi-data
 * UserName: dsa_ro_user
 * Password: readonly


**Example Connections:**
 * Terminal: `psql -h pgsql.dsa.lan -U dsa_ro_user nyc-taxi-data`
 * SQLAlchemy: `postgres://dsa_ro_user:readonly@pgsql.dsa.lan/nyc-taxi-data`

We can see from the below terminal output that there are 41 tables.

```SQL
Password for user dsa_ro_user:
psql (9.5.8, server 9.5.12)
Type "help" for help.

nyc-taxi-data=> \dt
                        List of relations
 Schema |                 Name                 | Type  |  Owner
--------+--------------------------------------+-------+----------
 public | airport_pickups                      | table | scottgs
 public | airport_pickups_by_type              | table | scottgs
 public | airport_trips                        | table | scottgs
 public | airport_trips_summary                | table | scottgs
 public | bridge_and_tunnel                    | table | scottgs
 public | cab_types                            | table | postgres
 public | census_tract_pickup_growth_2009_2015 | table | scottgs
 public | census_tract_pickups_by_hour         | table | scottgs
 public | central_park_weather_observations    | table | postgres
 public | citigroup_dropoffs                   | table | scottgs
 public | custom_geometries                    | table | scottgs
 public | daily_dropoffs_by_borough            | table | scottgs
 public | daily_pickups_by_borough_and_type    | table | scottgs
 public | die_hard_3                           | table | scottgs
 public | dropoff_by_lat_long_cab_type         | table | scottgs
 public | fhv_bases                            | table | postgres
 public | fhv_trips                            | table | postgres
 public | fhv_weekly_reports                   | table | scottgs
 public | goldman_sachs_dropoffs               | table | scottgs
 public | green_tripdata_staging               | table | postgres
 public | greenwich_hamptons_dropoffs          | table | scottgs
 public | hourly_dropoffs                      | table | scottgs
 public | hourly_pickups                       | table | scottgs
 public | hourly_uber_2015_pickups             | table | scottgs
 public | neighborhood_centroids               | table | scottgs
 public | northside_dropoffs                   | table | scottgs
 public | northside_pickups                    | table | scottgs
 public | nyct2010                             | table | postgres
 public | nyct2010_centroids                   | table | scottgs
 public | payment_types                        | table | scottgs
 public | pickups_and_weather                  | table | scottgs
 public | pickups_comparison                   | table | scottgs
 public | spatial_ref_sys                      | table | postgres
 public | taxi_zone_lookups                    | table | postgres
 public | taxi_zones                           | table | postgres
 public | trips                                | table | postgres
 public | trips_by_lat_long_cab_type           | table | scottgs
 public | uber_trips_2015                      | table | postgres
 public | uber_trips_staging                   | table | postgres
 public | yellow_monthly_reports               | table | scottgs
 public | yellow_tripdata_staging              | table | postgres
(41 rows)
```

### We can start by using SQLAlchemy and PsycoPg2 to connect to the DB

In [ ]:
import psycopg2
import sqlalchemy

# Build up the client connection string
db_url = 'postgres://dsa_ro_user:readonly@pgsql.dsa.lan/nyc-taxi-data'
        
# Connect to the DB
conn = sqlalchemy.create_engine(db_url, client_encoding='utf8')

### Then we can pull a Query into a data frame

In [ ]:
import pandas as pd

SQL = "SELECT dropoff_datetime::date, avg(dropoff_datetime -pickup_datetime) as avg_ride "
SQL += " FROM goldman_sachs_dropoffs "
SQL += " GROUP BY dropoff_datetime::date "
SQL += " ORDER BY 1"

print(SQL)
df_avg_ride = pd.read_sql(SQL,conn)
df_avg_ride.head()

## Debugging Code with SQL is double the fun!

Note that when using SQL mixed with programmatic languages, there are now two syntaxes that may create errors:
 * Python (in this case)
 * SQL

### <span style="background:yellow">Your Turn!</span>

Debug the following code that has a few errors.  
Below is the original code in read-only, then an executable cell.
Copy the code below into the cell to begin.

**Execute the cell, review the errors fix, repeat ... until you get your data!**

```Python
import pandas as pd

SQL = "SELECT dropoff_datetime::date,  sum(tip_amount) as tips"
SQL = "FROM goldman_sachs_dropoffs "
SQL += "extract(YEAR from dropoff_datetime) = 2015 " 
SQL += "GROUP BY dropoff_datetime::date "
SQL += "ORDER BY 1"

df_tips = pd.read_sql(SQL)
df_tips.head()
```

***Hint*** ``extract(YEAR from dropoff_datetime) = 2015`` is correct syntax there maybe something before or after that needs to be change while fixing the code but the statement itself does not need changed.

In [ ]:
# Add your code below
# ----------------------

## Now that data has been extracted, we can use it with various other Python libraries.


**This next cell requires you to complete the prior <span style="background:yellow">Your Turn</span>**

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline  
           
df_tips.plot(figsize=(12,8))



# Save your Notebook, then `File > Close and Halt`